@font-face {
    font-family: 'Harmonia Sans Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('https://res.cloudinary.com/hehe/raw/upload/v1556820955/multi-vendor/fonts/HarmoniaSansProCyr-Regular.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro light';
    font-style: normal;
    font-weight: 300;
    src: url('https://res.cloudinary.com/hehe/raw/upload/v1556820954/multi-vendor/fonts/HarmoniaSansProCyr-Light.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro SemiBd';
    font-style: normal;
    font-weight: 500;
    src: url('https://res.cloudinary.com/hehe/raw/upload/v1556820956/multi-vendor/fonts/HarmoniaSansProCyr-SemiBd.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro Bold';
    font-style: normal;
    font-weight: 700;
    src: url('https://res.cloudinary.com/hehe/raw/upload/v1556820953/multi-vendor/fonts/HarmoniaSansProCyr-Bold.woff');
}

@font-face {
    font-family: 'Harmonia Sans Pro Black';
    font-style: normal;
    font-weight: 900;
    src: url('https://res.cloudinary.com/hehe/raw/upload/v1556820952/multi-vendor/fonts/HarmoniaSansProCyr-Black.woff');
}

// icons version 2

@font-face {
  font-family: 'icons';
  src:  url('https://res.cloudinary.com/hehe/raw/upload/v1563369184/multi-vendor/fonts/icons.eot?euqz6v');
  src:  url('https://res.cloudinary.com/hehe/raw/upload/v1563369184/multi-vendor/fonts/icons.eot?euqz6v#iefix') format('embedded-opentype'),
    url('https://res.cloudinary.com/hehe/raw/upload/v1563369185/multi-vendor/fonts/icons.ttf?euqz6v') format('truetype'),
    url('https://res.cloudinary.com/hehe/raw/upload/v1563369184/multi-vendor/fonts/icons.woff?euqz6v') format('woff');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Burger_mobo:before {
  font-family: 'icons' !important;
  content: "\e100";
}
.icon-Cart_mobo:before {
  font-family: 'icons' !important;
  content: "\e116";
}
.icon-Home:before {
  font-family: 'icons' !important;
  content: "\e125";
}
.icon-Home_mobo:before {
  font-family: 'icons' !important;
  content: "\e126";
}
.icon-Path-417:before {
  font-family: 'icons' !important;
  content: "\e027";
}
.icon-Tags:before {
  font-family: 'icons' !important;
  content: "\e028";
}
.icon-User_mobo:before {
  font-family: 'icons' !important;
  content: "\e029";
}
.icon-Angle_down:before {
  font-family: 'icons' !important;
  content: "\e000";
}
.icon-Angle_left:before {
  font-family: 'icons' !important;
  content: "\e001";
}
.icon-Angle_right:before {
  font-family: 'icons' !important;
  content: "\e002";
}
.icon-Angle_up:before {
  font-family: 'icons' !important;
  content: "\e003";
}
.icon-Arrow:before {
  font-family: 'icons' !important;
  content: "\e004";
}
.icon-Arrow_solid:before {
  font-family: 'icons' !important;
  content: "\e005";
}
.icon-Banned:before {
  font-family: 'icons' !important;
  content: "\e006";
}
.icon-Bell:before {
  font-family: 'icons' !important;
  content: "\e007";
}
.icon-Burger:before {
  font-family: 'icons' !important;
  content: "\e008";
}
.icon-Card_pay:before {
  font-family: 'icons' !important;
  content: "\e009";
}
.icon-caret-down:before {
  font-family: 'icons' !important;
  content: "\e00a";
}
.icon-caret-left:before {
  font-family: 'icons' !important;
  content: "\e00b";
}
.icon-caret-right:before {
  font-family: 'icons' !important;
  content: "\e00c";
}
.icon-caret-Up:before {
  font-family: 'icons' !important;
  content: "\e00d";
}
.icon-Cart:before {
  font-family: 'icons' !important;
  content: "\e00e";
}
.icon-Cart_add:before {
  font-family: 'icons' !important;
  content: "\e00f";
}
.icon-Cash_pay:before {
  font-family: 'icons' !important;
  content: "\e010";
}
.icon-check-circle:before {
  font-family: 'icons' !important;
  content: "\e011";
}
.icon-Clock:before {
  font-family: 'icons' !important;
  content: "\e012";
}
.icon-Comment_bubble:before {
  font-family: 'icons' !important;
  content: "\e013";
}
.icon-Ellipsis_vertical:before {
  font-family: 'icons' !important;
  content: "\e014";
}
.icon-external_link:before {
  font-family: 'icons' !important;
  content: "\e015";
}
.icon-Fire:before {
  font-family: 'icons' !important;
  content: "\e017";
}
// .icon-Pad_lock:before {
//   font-family: 'icons' !important;   
//   content: "\e917";
// }
.icon-Path-4171:before {
  font-family: 'icons' !important;
  content: "\e018";
}
.icon-Pencil:before {
  font-family: 'icons' !important;
  content: "\e019";
}
.icon-Phone:before {
  font-family: 'icons' !important;
  content: "\e01a";
}
.icon-Pin_map:before {
  font-family: 'icons' !important;
  content: "\e01b";
}
.icon-Search:before {
  font-family: 'icons' !important;
  content: "\e01c";
}
.icon-Sort_down:before {
  font-family: 'icons' !important;
  content: "\e01d";
}
.icon-Sort_up:before {
  font-family: 'icons' !important;
  content: "\e01e";
}
.icon-Times:before {
  font-family: 'icons' !important;
  content: "\e01f";
}
.icon-Times_circle:before {
  font-family: 'icons' !important;
  content: "\e020";
}
.icon-Times_Circular:before {
  font-family: 'icons' !important;
  content: "\e021";
}
.icon-Trach_bin:before {
  font-family: 'icons' !important;
  content: "\e022";
}
.icon-Truck:before {
  font-family: 'icons' !important;
  content: "\e023";
}

// .icon-User:before {
//   content: "\e924";
// }


// Icons version 1

@font-face {
  font-family: 'icomoon';
  src:  url('https://res.cloudinary.com/hehe/raw/upload/v1556820956/multi-vendor/fonts/icomoon.eot?mxzaem');
  src:  url('https://res.cloudinary.com/hehe/raw/upload/v1556820956/multi-vendor/fonts/icomoon.eot?mxzaem#iefix') format('embedded-opentype'),
    url('https://res.cloudinary.com/hehe/raw/upload/v1556820956/multi-vendor/fonts/icomoon.ttf?mxzaem') format('truetype'),
    url('https://res.cloudinary.com/hehe/raw/upload/v1556820956/multi-vendor/fonts/icomoon.woff?mxzaem') format('woff');
    //url('../../../static/fonts/icomoon.svg?mxzaem#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-bg:before {
  content: "\e920";
  color: #fff;
}
.icon-Art-ico:before {
  content: "\e900";
}
.icon-Categories-ico:before {
  content: "\e901";
}
.icon-Coametics-ico:before {
  content: "\e902";
}
.icon-Elecronics-ico:before {
  content: "\e903";
}
.icon-Fashion-ico:before {
  content: "\e904";
}
.icon-Groceries-ico:before {
  content: "\e905";
}
.icon-KITCHENWARE-ICO:before {
  content: "\e906";
}
.icon-LITTERATURE-ICO:before {
  content: "\e907";
}
.icon-Path-53:before {
  content: "\e908";
}
.icon-Path-54:before {
  content: "\e909";
}
.icon-Path-55:before {
  content: "\e90a";
}
.icon-Path-56:before {
  content: "\e90b";
}
.icon-Path-57:before {
  content: "\e90c";
}
.icon-Path-58:before {
  content: "\e90d";
}
.icon-Path-59:before {
  content: "\e90e";
}
.icon-Path-60:before {
  content: "\e90f";
}
.icon-Path-61:before {
  content: "\e910";
}
.icon-Path-62:before {
  content: "\e911";
}
.icon-Path-63:before {
  content: "\e912";
}
.icon-Path-64:before {
  content: "\e913";
}
.icon-Path-65:before {
  content: "\e914";
}
.icon-Path-66:before {
  content: "\e915";
}
.icon-Path-67:before {
  content: "\e916";
}
.icon-Path-68:before {
  content: "\e917";
}
.icon-Path-69:before {
  content: "\e918";
}
.icon-Path-70:before {
  content: "\e919";
}
.icon-Path-71:before {
  content: "\e91a";
}
.icon-Path-72:before {
  content: "\e91b";
}
.icon-Path-73:before {
  content: "\e91c";
}
.icon-Path-74:before {
  content: "\e91d";
}
.icon-Path-75:before {
  content: "\e91e";
}
.icon-toys-ico:before {
  content: "\e91f";
}

