@import '/fonts';
@import '/variables';
@import '/mixins';
@import 'types';
@import 'inherited';

// General

html {
    font-size: 14px !important;
    font-family: 'Harmonia Sans Pro Black' !important;

    @media screen and (max-width: 1920px) {
        font-size: 12px !important;
    }   
    @media screen and (max-width: 1024px) {
        font-size: 10px !important;
    } 
}
body {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding-bottom: 24rem;

    @media screen and (max-width: $mobile-md-lg) {
        padding-bottom: 55rem;
    }
    @media screen and (min-width: $mobile-md-lg) and (max-width: $mobile-lg) {
        padding-bottom: 42rem;
    }
}
.maximum-width {
    max-width: 1920px;
    margin: 0 auto !important;
}
a {
    color: $black-color-1 !important;

    &:hover {
        text-decoration: none !important;
    }
}
.light-title {
    font-family: $font-regular !important;
}

.total-price {
    border-top: 2px solid $gray-color-2;
    background: $white-color;
    margin: 0 1rem;

    .subtotal {
        text-align: right;
        font-size: 1.28rem;
        padding: 0.5rem 0.5rem 0.5rem 0;
        color: $black-color-5;
    }
    .shipping-grid {
        background: $green-color-3;
        width: 83%;
        margin: 0 0 0 17%;
        padding: 0.2rem 0.5rem;
        @include flexbox;
        @include flexalignitems(center);
        @include flexjustifycontent(space-between);
        .shipping-title {
            color: $black-color-5;
        }
        .shipping {
            color: $black-color-5;
        }
    }
    .total-grid {
        padding: 1rem 0.5rem;
        text-align: right;
        .total {
            color: $orange-color-1;
            background: $orange-color-3;
            padding: 0.5rem;
            border-radius: 0.5rem;
        }
    }
}

.img-loader-enter-active {
    opacity: 1 !important;
}

.image-placeholder {
    width: 100%;
    @include flexbox();
    @include flexjustifycontent(center);
    @include flexalignitems(center);
    background-color: $gray-color-2;
    border-radius: 5px 5px 0 0;

    @media screen and (max-width: $mobile-lg) {
        height: auto !important;
    }

    img {
        max-width: 100%;
        opacity: 0;
        @include transition(opacity .3s ease-in);
    }

    &.loaded {
        img {
            opacity: 1 !important;
            border-radius: 5px 5px 0 0;
        }
    }
}

.breadcrumbs {
    color: $black-color-2;
}

.cart-wrapper {
    background: none;
    outline: none !important;
    border: 0 !important;
}

.mobile-visible {
    display: none !important;
}

.mobile-invisible {
    display: block !important;
}

@media screen and (maximum-width: $mobile-lg) {
    .mobile-visible {
        display: block !important;
    }
    .mobile-invisible {
        display: none !important;
    }
}