.reset-row {
    margin: 0 !important;
}
.col-reset {
    padding: 0 !important;
}

.default-button-styles {
    margin: 0 1rem 0 0;
    background: $orange-color-1;
    color: $white-color;
    @include transition(0.5s);
    border: .5px solid $orange-color-1;
    border-radius: 0.35rem;
    outline: none !important;
    padding: 0.7rem 2.2rem;

    &:hover {
        background: $white-color;
        color: $orange-color-1; 
    }
}