
html {
    h4 {
        font-size: 1.28rem !important;
        font-family: $font-regular;

        @media screen and (max-width: $mobile-lg) {
            font-size: 0.9rem !important;
        }
    }
    h5 {
        font-size: 1rem; //!important;
        font-family: $font-bold; //!important;
    }
    h6 {
        font-family: $font-regular;
        font-size: 1rem;
    }
    p {
        font-family: $font-regular;
        font-size: 1rem;
    }
    .light-title {
        font-family: $font-regular !important;
    }
    .breadcrumbs {
        font-size: 1.1rem;
        font-family: $font-regular;
    }

    .empty-cart-items {
        font-size: 2.5rem !important;
        font-family: "Harmonia Sans Pro light" !important;
    }

    .cart-wrapper {
        .cart-title {
            font-family: $font-regular;
            font-size: 1.2rem;
        }
    }

    // landing page

    .landing-title {
        font-size: 1.78rem;
        font-family: $font-bold;
    }
    .landing-content {
        font-size: 1rem;
        font-family: $font-regular;
    }
    .landing-footer {
        font-size: 1.3rem;
        font-family: $font-regular;
    }
    .landing-label {
        font-size: 1.14rem;
        font-family: $font-regular;
    }
    .selector {
        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            font-family: $font-regular;
            font-size: 1rem;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-family: $font-regular;
            font-size: 1rem;
        }
        .select2-selection__arrow:before {
            font-family: 'icomoon';
            content: "\e91c";
            font-size: 0.5rem !important;
        }
    }
    .continue-button {
        button {
            font-family: $font-regular;
            font-size: 1.28rem;
        }
    }

    // Header

    .main-menu__wrapper {
        .home-link {
            span {
                font-size: 2rem;
            }
        }
    }
    .mobile-menu__title {
        font-size: .8rem !important;
    }

    .top-content {
        font-size: 1rem;
        font-family: $font-semi-bold;
    }
    .location-dropdown {
        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            font-family: $font-semi-bold;
            font-size: 1.28rem;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-family: $font-semi-bold;
            font-size: 1.28rem;
        }
        .select2-selection__arrow:before {
            font-family: 'icomoon';
            content: "\e91c";
            font-size: 0.5rem !important;
        }
    }
    .main-search {
        input {
            font-family: $font-regular;
            font-size: 1.28rem;
        }
        .react-autosuggest__suggestions-list {
            li {
                font-family: $font-regular;
                font-size: 1.1rem;
            }
        }
        .select2-container--default .select2-selection--single .select2-selection__placeholder {
            font-family: $font-semi-bold;
            font-size: 1.28rem;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            font-family: $font-semi-bold;
            font-size: 1.28rem;
        }
        .select2-selection__arrow:before {
            font-family: 'icomoon';
            content: "\e91c";
            font-size: 0.5rem !important;
        }
        button {
            .icon-Path-64:before {
                font-size: 1.2rem;
            }
        }

    }
    .icon-Path-62 {
        &:before {
            font-size: 2.3rem;
        }
    }
    .icon-Path-63 {
        &:before {
            font-size: 2rem;
        }
    }
    .icon-Path-73{
        &:before {
            font-size: 0.4rem;
        }
    }
    .header-content {
        font-family: $font-regular;
        font-size: 1rem;
    }
    .nav__submenu-item {
        a {
            font-family: $font-semi-bold;
            font-size: 1.28rem;
        }
        .menu-item-icon {
            &:before {
                font-size: 2rem;
            }
        }
        .sub-wrapper {
            .sub-cat-title {
                font-size: 1rem !important;
                font-family: $font-bold !important;
            }
            .sub-cat-item {
                font-family: $font-regular !important;
                font-size: 1rem !important;
            }
            a {
                font-family: $font-regular !important;
                font-size: 1rem !important;
            }
        }
    }
    .menu-btn {
        button {
            font-family: $font-semi-bold;
            font-size: 1.28rem;
        }
    }
    .mobo-menu-title {
        .icon-Path-71 {
            :before {
                font-size: 2rem;
            }
        }
        .title {
            font-size: 1.28rem !important;
        }
    }
    .profile-dropdown {
        ul {
            li {
                a {
                    font-family: $font-regular;
                    font-size: 1rem;
                }
            }
        }
        .logout {
            a {
                font-family: $font-regular;
                font-size: 1rem;
            }
        }
    }
    .cart-notify {
        .notify-text {
            font-family: $font-regular;
            font-size: 1rem;
            .icon-check-circle:before {
                font-size: 1.5rem;
            }
        }
        .notify-btn {
            button {
                font-family: $font-bold;
                font-size: 1rem;
            }
        }
    }


    // Homepage

    .cat-icon {
        &:before {
            font-size: 2.5rem;
            @media screen and (max-width: $mobile-lg) {
                font-size: 1.5rem;
            }
        }
    }
    .cat-name {
        font-size: 1.1rem;
        font-family: $font-semi-bold;

        @media screen and (max-width: $mobile-lg) {
            font-size: .7rem;
        }
    }
    .slick-next {
        &:before {
            font-family: 'icomoon' !important;
        }
    }
    .slick-prev {
        &:before {
            font-family: 'icomoon' !important;
        }
    }
    .top-stores-title, .special-offers-title {
        font-size: 2.14rem;
        font-family: $font-bold;

        @media screen and (max-width: $mobile-lg) {
            font-size: 1.2rem;
        }
    }
    .top-stores {
        .top-stores-wrapper  {
            .top-stores-content {
            .stores-wrapper {
                .category {
                    h4 {
                       font-family: $font-semi-bold; 
                    }
                }
            }
            }
        }
    }
    .made-in-rwanda-title {
        font-size: 2.14rem;
        font-family: $font-bold;

        @media screen and (max-width: $mobile-lg) {
            font-size: 1.2rem;
        }

        span {
            font-family: $font-regular;
        }
    }
    .view-more-btn {
        button {
            font-size: 1.28rem;
            font-family: $font-bold;
        }
    }
    .special-single-product {
        .product-description {
            .price-cart {
                .price {
                    font-size: 1.2rem;
                    font-family: $font-bold;
    
                    @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                        font-size: 1rem;
                    }
    
                    @media screen and (max-width: $mobile-lg) {
                        font-size: 0.8rem;
                    }
                }
                .initial-price {
                    font-size: 1.14rem;
                    font-family: $font-semi-bold;
                    @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                        font-size: 0.8rem;
                    }
                    @media screen and (max-width: $mobile-lg) {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }

    .product-description {
        &:before {
            font-family: 'icomoon';
            font-size: 8rem;
        }
        .store-logo {
            .store-name {
                font-size: 1.2rem;
                font-family: $font-regular;

                .items-in-cart {
                    
                    @media screen and (max-width: $mobile-lg) {
                        font-size: 1rem;
                    }
                }
            }
        }
        .product-name {
            font-size: 1.28rem;
            font-family: $font-regular;
        }
        .price-cart {
            .price {
                font-size: 1.2rem;
                font-family: $font-bold;

                @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                    font-size: 1rem;
                }

                @media screen and (max-width: $mobile-lg) {
                    font-size: 0.8rem;
                }
            }
            .initial-price {
                font-size: 1.14rem;
                font-family: $font-semi-bold;
                @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                    font-size: 0.8rem;
                }
                @media screen and (max-width: $mobile-lg) {
                    font-size: 0.7rem;
                }
            }
            .add-to-cart {
                button {
                    .icon-Path-63:before {
                        font-size: 1.5rem;
                    }
                }
                &:hover {
                    .icon-Path-63:before {
                        font-family: $font-semi-bold;
                        @media (max-width: $mobile-lg) {
                            font-family: 'icomoon';
                        }
                    }
                }
            }
            .select-options {
                font-family: $font-semi-bold;

                .select-btn__icon {
                    font-size: .5rem;
                }
            }
        }
    }
    .special-wrapper {
        .slick-slider {
            .slick-next {
                &:before {
                    font-family: 'icomoon' !important;
                }
            }
            .slick-prev {
                &:before {
                    font-family: 'icomoon' !important;
                }
            }
        }
    }
    .top-icons {
        .hot {
            font-size: 1rem;
            font-family: $font-regular;

            @media screen and (max-width: $mobile-lg) {
                font-size: 0.6rem;
            }
        }
        .discount {
            font-size: 1rem;
            font-family: $font-regular;

            @media screen and (max-width: $mobile-lg) {
                font-size: 0.6rem;
            }
        }
    }
    .made-in-rwanda-wrapper {
        .slick-slider {
            .slick-next {
                &:before {
                    font-family: 'icomoon' !important;
                }
            }
            .slick-prev {
                &:before {
                    font-family: 'icomoon' !important;
                }
            }
        }
    }
    .cart-sidebar {
        .main-title {
            .sidebar-title {
                .icon-Path-63:before {
                    font-size: 2rem;
                }
                .title {
                    font-size: 1.5rem;
                    font-family: $font-bold;
                }
                .item-nbr {
                    font-size: 1.28rem;
                    font-family: $font-bold;
                }
            }
            .sidebar-close {
                .close-cart {
                    font-size: 1.28rem;
                    font-family: $font-bold;
                }
                .icon-Path-58:before {
                    font-size: 1.28rem;
                }
            }
        }
        .cart-content {
            .cart-store-content {
                &:before {
                    font-family: 'icomoon';
                    font-size: 6rem;
                }
                .cart-item {
                    .name-incremenet {
                        .product-name {
                            font-size: 1.1rem;
                            font-family: $font-regular;

                            @media screen and (max-width: $mobile-lg) {
                                font-size: 1rem;
                            }
                        }
                        .qty-measurement {
                            font-size: 1rem;
                            font-family: $font-regular;
                        }
                        .qty-increment {
                            .number {
                                font-family: $font-bold;
                            }
                        }
                    }
                    .prices-discounts {
                        .cart-bk {
                            
                            .discount {
                                font-size: 0.9rem;

                                @media screen and (max-width: $mobile-lg) {
                                    font-size: 0.6rem;
                                }
                            }
                            .edit {
                                font-size: 1rem;
                                font-family: $font-regular;
                                .icon-Path-68:before {
                                    margin: 0 0.5rem 0 0;
                                }
                            }
                            .initial-price {
                                font-size: 1rem;
                                @media screen and (max-width: $mobile-lg) {
                                    font-size: 0.7rem;
                                }
                            }
                            .remove {
                                font-size: 1rem;
                                font-family: $font-regular;
                                .icon-Path-60:before {
                                    margin: 0 0.5rem 0 0;
                                }
                            }
                            .price {
                                font-size: 1.1rem;

                                @media screen and (max-width: $mobile-lg) {
                                    font-size: 0.8rem;
                                }
                            }
                        }
                    }
                }
            }
            .go-to-checkout {
                .grand-total {
                    font-size: 1.4rem;
                    font-family: $font-regular;
                    @media screen and (max-width: $mobile-lg) {
                        font-size: 1.2rem;
                    }
                }
                .proceed-button {
                    button {
                        font-size: 1.28rem;
                        font-family: $font-bold;

                        @media screen and (max-width: $mobile-lg) {
                            font-size: 1.2rem;
                        }
                    }
                }
            }
        }
    }
    .total-price {
        .subtotal {
            font-size: 1.28rem;
            font-family: $font-regular;
        }
        .shipping-grid {
            .shipping-title {
                font-size: 1.28rem;
                font-family: $font-regular;
            }
            .shipping {
                font-size: 1.28rem;
                font-family: $font-regular;
            }
        }
        .total-grid {
            .total {
                font-size: 1.1rem;
                font-family: $font-regular;
            }
        }
    }
    .featured-wrapper {
        .margin-reset {
            .store-category {
                font-size: 0.9rem;
            }
        }
        .seller-link {
            font-family: $font-bold;
            font-size: 0.9rem;
        }
        .featured-seller-product-price {
            font-family: $font-bold;
            font-size: 1rem;
        }
    }

    // Categories

    .multi-vendor-categories {
        .single-category {
            font-size: 1.1rem;
            font-family: $font-bold;
            .cat-icon:before {
                font-size: 2rem !important;
            }
        }
    }
    .categories-content {
        .side-category__grid {
            .divider {
                font-size: 1.3rem !important;
                font-family: $font-semi-bold;
                padding: 0;
                height: auto;
                text-transform: capitalize;

                &.divider-level-1 {
                    .icon-Angle_down {
                        font-size: .6rem !important;
                    }
                }
            }
            .item-level-1 {
                .item-label {
                    font-size: 1.28rem !important;
                    font-family: $font-semi-bold;
                }
            }
            .item-level-2 {
                .item-label, .item-title {
                    font-size: 1.28rem !important;
                    font-family: $font-regular;

                    @media screen and (max-width: $mobile-lg) {
                        font-size: 1.1rem !important;
                    }
                }
            }

            i.fa.fa-chevron-down:before {
                font-size: 2.28rem !important;
                font-family: $font-bold;
                font-style: normal;
            }
            i.fa.fa-chevron-left:before {
                font-size: 2.28rem !important;
                font-family: $font-bold;
                font-style: normal;
            }
            i.fa.fa-chevron-right:before {
                font-size: 2.28rem !important;
                font-family: $font-bold;
                font-style: normal;
            }
        }
        .multi-vendor-stores-wrapper {
            .stores-title {
                font-size: 1.28rem;
                font-family: $font-regular;
            }
            .line-display {
                .more-link a {
                    font-size: 1.3rem;
                    font-family: $font-regular;
                }
            }
        }

        .empty-category {
            p {
                font-size: 2rem;
            }            
        }


    }
    .filter-title {
        font-size: 1.7rem;
        font-family: $font-semi-bold;
    }
    .filter-sidebar-title {
        padding: 1rem 2rem;
        .icon-Path-71:before {
            font-size: 1rem;
        }
        .back {
            font-size: 1.28rem;
            font-family: $font-bold;
        }
        .title {
            font-size: 1.4rem;
            font-family: $font-bold;
        }
    }
    .filter-sidebar-content {
        .clear-button {
            button {
                font-size: 1.28rem
            }
        }
        form {
            .rrs__label {
                span {
                    font-size: 1.28rem
                }
            }
        }
    }

    // Checkout

    .checkout-process {
        .single-process {
            .process-point {
                
            }
            .process-name {
                font-size: 1.28rem;
                font-family: $font-bold;

                @media screen and (max-width: $mobile-lg) {
                    font-size: .8rem;
                }
            }
        }
    }
    .account-info-wrapper {
        .account-info-title {
            font-family: $font-bold;
            font-size: 1.28rem;
        }
        .signin-form {
            .input-field {
                input {
                    font-size: 1rem;
                    font-family: $font-regular;
                }
            }
            .input-checkbox {
                .remember {
                    font-size: 1rem;
                    font-family: $font-regular;
                }
            }
        }
        .content {
            font-size: 1rem;
            font-family: $font-regular;
        }
        button.auth-button {
            font-size: 1rem;
            font-family: $font-regular;
        }
        .payment-section {
            .wallet-title {
                font-size: 1.28rem;
                font-family: $font-bold;
            }
            .wallet-content {
                font-size: 1.28rem;
                font-family: $font-regular;
            }
            .react-tabs__tab-list {
                border-bottom: none !important;
                .react-tabs__tab {
                    font-size: 1.28rem;
                    font-family: $font-semi-bold;
                }
                .react-tabs__tab--selected {
                    font-size: 1.28rem;
                    font-family: $font-semi-bold;
                }
            }
            .single-payment {
                .single-payment-title {
                    .title-left {
                        font-size: 1.28rem;
                        font-family: $font-regular;

                        .title {
                            font-size: 1.28rem;
                            font-family: $font-regular;
                        }
                    }
                }
                .card-payment {
                    p {
                        font-size: 1.28rem;
                        line-height: 1.92rem;
                        color: $black-color-3;
                    }
                    .payment-input {
                        input {
                            font-size: 1.28rem;
                            font-family: $font-regular;
                        }
                    }
                }
                .momo-payment {
                    h5 {
                        font-size: 1.28rem;
                    }
                    input {
                        font-size: 1.28rem;
                    }
                    
                }
                .payment-comment {
                    .comment-title {
                        font-size: 1.1rem;
                        font-family: $font-regular;
                    }
                }
            }
        }
    }
    .delivery-content {
        .store-name {
            font-size: 1.28rem;
            font-family: $font-semi-bold;

            .name {
                font-size: 1rem;
                font-family: $font-regular;
            }
        }
        .btn_store-cartProducts {
            font-size: 1.28rem;
            font-family: $font-semi-bold;
            span {
                font-size: .8rem !important;
                @media screen and (max-width: $mobile-lg) {
                    font-size: .5rem !important;
                }
            }
        }
    }
    .title {
        font-size: 1.28rem;
        font-family: $font-regular;
    }
    .s-price {
        font-size: 1.4rem;
        font-family: $font-semi-bold;
    }
    .u-price {
        font-size: 1.28rem;
        font-family: $font-semi-bold;
    }
    .t-price {
        font-size: 1.4rem;
        font-family: $font-bold;
    }
    .product-att {
        font-size: 1rem;
        font-family: $font-regular;
    }
    .order-summary-grid {
        background: $gray-color-2;
        .order-summary-wrapper {
            margin: 3rem 1rem;
            .order-summary-title {
                font-size: 1.28rem;
                font-family: $font-bold;
            }
            .white-background {
                .checkout-cart-header {
                    .store-cart-content {
                        .store-name {
                            font-size: 1rem;
                            font-family: $font-regular;
                        }
                    }
                    .store-items {
                        font-size: 1rem;
                        font-family: $font-regular;
                    }
                }
                .gift-block {
                    margin: 1rem 0 1rem 1rem;
                    input {
                        font-family: $font-regular;
                        font-size: 1rem;
                    }
                    button {
                        font-family: $font-regular;
                        font-size: 1rem;
                    }
                }
                .subtotal {
                    font-size: 1.28rem;
                    font-family: $font-semi-bold;
                }
                .shipping {
                    font-size: 1.28rem;
                    font-family: $font-semi-bold;
                }
                .total {
                    .total-t {
                        font-size: 1.28rem;
                        font-family: $font-semi-bold;
                    }
                }
            }
        }
    }
    .t-title {
        font-size: 1.28rem;
        font-family: $font-regular;
    }
    .t-content {
        font-size: 1.28rem;
        font-family: $font-semi-bold;
    }
    .dur-title {
        font-size: 1.28rem;
        font-family: $font-semi-bold;
    }
    .dur-content {
        font-size: 1.28rem;
        font-family: $font-semi-bold;
    }

    // Product details

    .popup-wrapper {
        .description-wrapper {
            .product-name {
                font-size: 2.4rem;
                font-family: $font-bold;
            }
            .top-icons {
                .hot {
                    font-size: 1rem;
                    font-family: $font-regular;
                }
                .discount {
                    font-size: 1rem;
                    font-family: $font-regular;
                }
            }
            .product-detail {
                .details-title {
                    font-size: 1.1rem;
                    font-family: $font-regular;
                }
                .initial-price {
                    font-size: 1.15rem;
                    font-family: $font-regular;
                }
                .price {
                    font-size: 1.3rem;
                    font-family: $font-bold;
                }
                .select-dropdown {
                    .select2-selection.select2-selection--single {
                        .select2-selection__rendered {
                            .select2-selection__placeholder {
                                font-size: 1.35rem;
                                font-family: $font-semi-bold;
                            }
                        }
                    }
                }
                .orange-btn,
                .white-btn{
                    font-size: 1.3rem;
                    font-family: $font-semi-bold;
                    line-height: 1.5rem;
                    @media screen and (max-width: $mobile-lg) {
                        margin: 0 1rem 1rem 0;
                    }
                }
                .product-store {
                    .store-content {
                        .content {
                            font-size: 1rem;
                            font-family: $font-regular;
                            .black {
                                font-family: $font-semi-bold;
                            }
                            .orange {
                                font-family: $font-semi-bold;
                            }
                        }
                    }
                }
            }
            .description-details {
                .desc-title {
                    font-size: 1.7rem;
                    font-family: $font-bold;
                }
                .desc-content {
                    font-size: 1.28rem;
                    font-family: $font-regular;
                }
            }
        }

    }
    .products-title {
        font-size: 1.7rem;
        font-family: $font-bold;
    }
    .slide-nav {
        .slick-prev:before, .slick-next:before {
            font-family: 'icomoon'; 
        }
    }

    // seller

    .line-display {
        display: inline-grid;
        margin: 1rem 6rem 1rem 0;
    
        .store-name {
            font-family: $font-regular;
            font-size: 1.4rem;

            @media screen and (max-width: $mobile-lg) {
                font-size: 1rem;
            }
            title {
                font-family: $font-regular;
            }
        }
        .store-category {
            font-family: $font-regular;
            font-size: 1.28rem;
        }
    }
    .store-start-date {
        font-size: 1.4rem;
        font-family: $font-regular;
    }
    .store-link a {
        font-family: $font-regular;
        font-size: 1.4rem;
    }
    .seller-category-search {
        .search-wrapper {
            input {
                font-family: $font-semi-bold;
                font-size: 1.28rem;
            }
        }
    }

    // Register and Login

    .auth-content {
        .auth-title {
            font-size: 1.28rem;
            font-family: $font-bold;
        }
        .auth-form {
            .input-field {
                input {
                    font-size: 1.28rem;
                    font-family: $font-regular;

                    @media screen and (max-width: $mobile-lg) {
                        font-size: 1rem !important;
                    }
                }
            }
            .checkbox-field {
                span {
                    font-size: 1.1rem;
                    font-family: $font-regular;
                }
                .input-field {
                    font-family: $font-regular;
                    font-size: 1.2rem;
                }
            }
            .auth-button {
                button {
                    font-size: 1.1rem;
                    font-family: $font-regular;
                }
            }
            .auth-text {
                font-size: 1.1rem;
                font-family: $font-regular;
            }
            .select2-selection__rendered {
                font-size: 1.28rem;
                font-family: $font-regular;
            }
        }
    }

    // Footer

    .footer-wrapper {
        .store-info {    
            .footer-card-wrapper {
                .footer-card {
                    h3 {
                        font-family: $font-bold;
                        font-size: 1.2rem;
                        @media screen and (max-width: $mobile-lg) {
                            font-size: 1.1rem;
                        }
                    }
                    p {
                        font-family: $font-regular; 
                    }
                }
            }
        }

        .footer-wrapper-content {
    
            .footer-title {
                font-family: $font-semi-bold;
                font-size: 1.4rem;
                @media screen and (min-width: $tablet-min) and (max-width: $desktop-min) {
                    font-size: 1.3rem;
                }
            }
            .footer-content {
                .content {
                    font-family: $font-light;
                    font-size: 1.2rem;

                    &:hover {
                        font-family: $font-regular;
                    }

                    @media (max-width: $tablet-md) {
                        font-size: 1rem;
                    }
                }
            }
            .contact-content {
                font-family: $font-light;
                font-size: 1.2rem;
                
                @media (max-width: $tablet-md) {
                    font-size: 1rem;
                }
            }
            button {
                font-family: $font-semi-bold;
                font-size: 1.1rem;
            }
            .subscribe {
                background: $white-color;
                border-radius: 0.2rem;
                input {
                    font-size: 1rem;
                }
            }
        }
    }

    // Order response

    .order-response__content {
        h1 {
            font-family: $font-bold;;
            font-size: 6rem;
        }
        h5 {
            font-size: 1.5rem !important;
        }
        p {
            font-size: 1.1rem;
            font-family: $font-regular;
        }
        ul {
            li {
                a {
                    font-family: 'Harmonia Sans Pro SemiBd';
                    font-size: 1.5rem;
                }
            }
        }
    }

    // profile page

    .profile-page {
        h5 {
            font-size: 1.5rem !important;
        }

        .item-menu {
            font-size: 1.2rem !important;
            font-family: $font-regular;

            &.active {
                font-family: 'Harmonia Sans Pro SemiBd';
            }
        }
        
        th {
            font-size: 1.3rem !important;
            font-family: 'Harmonia Sans Pro Bold';
        }
        td {
            font-size: 1.1rem !important;
            font-family: $font-regular;
        }

        .order-detail {
            h5, p {
                font-size: 1.1rem !important;
            }
        }

        .user-detail {
            .user-summary__detail {
                td {
                    font-family: 'Harmonia Sans Pro Bold';
                    font-size: 1.5rem !important;

                    span {
                        font-family: $font-regular;
                        font-size: 1.1rem !important;
                    }
                }
            }
        }
    }
    .profile-products-title {
        h2 {
            font-size: 1.28rem;
            font-family: $font-semi-bold;
        }
    }

    // search results

    .search-results-title {
        h4 {
            font-family: $font-semi-bold;
            font-size: 1.4rem !important;
            .item {
                font-size: 1.1rem !important;
            }
        }
    }

    // error

    .error-wrapper {
        .left-content {
            h2 {
                font-family: $font-light;
                font-size: 2rem;
            }
            p {
                font-family: $font-semi-bold;
                font-size: 1.28rem;
            }
            button {
                font-family: $font-semi-bold;
                font-size: 1rem;
            }
        }
        .category-row {
            .category-title p {
                font-family: $font-semi-bold;
                font-size: 1.28rem;
            }
            .category-wrapper {
                a {
                    .category-item {
                        font-family: $font-semi-bold;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

}

// Terms and privacy doc pages
.doc-page {
    .content-wrapper {
        h1 {
            font-family: 'Harmonia Sans Pro Bold';
        }

        h4 {
            font-family: 'Harmonia Sans Pro Bold';
        }
        p {
            font-size: 1.1rem !important;
        }
    }
    
}


// inputs

label {
    font-family: $font-regular;
    font-size: 1.28rem;

    @media screen and (max-width: $mobile-lg) {
        font-size: 1rem;
    }
}
select {
    font-family: $font-regular !important;
    font-size: 1.28rem !important;
    @media screen and (max-width: $mobile-lg) {
        font-size: 1rem !important;
    }
}
// Cookies popup
.cookies-wrapper {
    p {
        font-family: $font-light;
        font-size: 1.1rem !important; 

        a {
            font-family: $font-semi-bold !important; 
        }
        button {
            span {
                font-size: 1rem;
            }
        }
    }
}

// back on top button
.back-to-top {    
    [class^="icon-"] {
        font-size: 1.2rem;

        @media screen and (max-width: $mobile-lg) {
            font-size: 1rem;
        }
    }
}


// Print button
.print-btn {
    font-family: $font-regular !important;
    font-size: 1.2rem; 
}