// colors
$white-color: #ffffff;
$black-color-1: #000000;
$black-color-2: #1d3043;
$black-color-3: #4e5861;
$orange-color: #f6921e;
$gray-color-1: #bcbcbc;
$gray-color-2: #f5f5f5;
$green-color-1: #deecea;
$green-color-2: #169889;