// colors
$white-color: #ffffff;
$black-color-1: #000000;
$black-color-2: #1d3043;
$black-color-3: #4e5861;
$black-color-4: #555555;
$black-color-5: #5f5f5f;
$orange-color-1: #f6921e;
$orange-color-2: #ff9903;
$orange-color-3: #ffebcc;
$orange-color-4: #dc7c02;
$orange-color-5: #f6911d;
$red-color-1: #ff5503;
$red-color-2: #fedccb;
$gray-color-1: #bcbcbc;
$gray-color-2: #f5f5f5;
$gray-color-3: #bbbbbb;
$gray-color-4: #707070;
$gray-color-5: #cccccc;
$gray-color-6: #b3bcc6;
$gray-color-7: #e4e4e4;
$gray-color-8: #aaaaaa;
$green-color-1: #c6fff6;
$green-color-2: #169889;
$green-color-3: #deecea;


// fonts

$font-regular: 'Harmonia Sans Pro Regular';
$font-light: 'Harmonia Sans Pro light';
$font-semi-bold: 'Harmonia Sans Pro SemiBd';
$font-bold: 'Harmonia Sans Pro Bold';
$font-black: 'Harmonia Sans Pro Black';

// screens

$desktopHd-min: 1440px;
$container-desktopHd: 1240px;
$desktop-min: 1024px;
$container-desktop: 960px;
$tablet-min: 768px;
$container-tablet: 688px;
$tabletS-min: 480px;
$mobile-lg: 767px;
$mobile-min: 320px;