// colors
$white-color: #ffffff;
$black-color-1: #000000;
$black-color-2: #1d3043;
$black-color-3: #4e5861;
$black-color-4: #555555;
$orange-color: #f6921e;
$gray-color-1: #bcbcbc;
$gray-color-2: #f5f5f5;
$gray-color-3: #bbbbbb;
$gray-color-4: #707070;
$gray-color-5: #cccccc;
$green-color-1: #deecea;
$green-color-2: #169889;


// fonts

$font-regular: 'Harmonia Sans Pro Regular';
$font-light: 'Harmonia Sans Pro light';
$font-semi-bold: 'Harmonia Sans Pro SemiBd';
$font-bold: 'Harmonia Sans Pro Bold';
$font-black: 'Harmonia Sans Pro Black';

// screens

$desktopHd-min: 1440px;
$container-desktopHd: 1240px;
$desktop-min: 1024px;
$container-desktop: 960px;
$tablet-min: 768px;
$container-tablet: 688px;
$tabletS-min: 480px;
$mobile-min: 320px;