@import "../main";

body {
    padding: 0;
}

.checkbox-field {
    @include flexbox;
    @include flexalignitems(center);
    margin-bottom: 1rem;
    //margin: 0 0.5rem 1rem 0.5rem;

    a {
        color: $black-color-3;
        margin-left: 0.4rem;
        font-size: 1.2rem;
        cursor: pointer;
        //margin: 0 0 0 0.5rem;

        &.is-invalid {
            color: $red-color-1;
        }
    }
}

.auth-content {
    width: 100%;
    margin: 0;
    padding: 2rem;

    &.delivery-address {
        width: 100%;
    }
    .form-header {
        display: flex;
        justify-content: space-between;
    }
    .auth-title {
        color: $black-color-4;
        margin: 2rem 0 1rem 0;
    }
    .auth-form {
        .input-field {
            position: relative;
            input, select {
                width: 100%;
                min-height: 3.2rem;
                margin: 1rem 0;
                border: 1px solid $gray-color-2;
                background: $gray-color-2;
                padding: 0.3rem 1rem;
                border-radius: 0.3rem;
                outline: none;
                -webkit-appearance: none;

                &.is-invalid {
                    border: 1px solid $red-color-1 !important;
                }
            }
            .select2-container {
                width: 100% !important;
                margin: 1rem 0;
            }
            .select2-container--default .select2-selection--single {
                border-width: .5px;
                border: 1px solid $gray-color-2;
                background: $gray-color-2;
                padding: 0 0.5rem;
                border-radius: 0.3rem;
                outline: none;
            }
            .select2-selection__rendered {
                color: $black-color-1;
            }
            .select2-selection__placeholder {
                color: $black-color-3;
            }
            .validation-error {
                font-size: 0.8rem !important;
                color: $red-color-1;
                position: absolute;
                bottom: -0.5rem;
            }
            label {
                display: none;
            }
        }
        
        .auth-button {
            text-align: center;
            margin: 2rem 0 1rem 0;
            button {
                @extend .default-button-styles;
            }
        }
    }
    .auth-text {
        color: $black-color-2;
        text-align: center;

        @media screen and (max-width: $mobile-lg) {
            text-align: left;
        }

        a {
            color: $green-color-2 !important;
        }
    }
}
.terms-link {
    color: #169889 !important
}

.same-bil-ship__checkbox {
    padding-left: 4rem;
}

::-webkit-scrollbar {
    width: 4px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}