@import "../main";

.multi-vendor-categories {
    background: $white-color;
    border-top: 2px solid $gray-color-2;

    .multi-vendor-categories-wrapper {
        width: 96%;
        margin: 0 2%;

        @media screen and (max-width: $mobile-lg) {
            display: none;
        }
        .single-category {
            border: .5px solid $gray-color-5;
            border-radius: 0.5rem;
            padding: 1rem 1rem;
            line-height: 1;
            margin: 1rem;
            min-height: 5.2rem;
            @include flexbox;
            @include flexalignitems(center);
            color: $black-color-3;
            @include transition;
    
            .cat-icon:before {
                margin: 0 1rem 0 0;
            }
            &:hover {
                background: $green-color-1;
                color: $green-color-2;
                cursor: pointer;
                border: 1px solid $green-color-2;
            }
        }
        .slick-next {
            right: -2%;
            width: 2%;
            height: 100%;
            opacity: 0.92;
            box-shadow: -3px 0 6px 0 rgba(0, 0, 0, 0.16);
            background-color: $white-color;

            &:before {
                content: '\e919';
                color: $black-color-2;
            }
        }
        .slick-prev {
            left: -1.5rem;
            &:before {
                content: '\e91a';
                color: $black-color-2;
            }
        }
    }
}
.categories-content {
    background: $gray-color-2;
    .Side-menu-default {
        background-color: $gray-color-2;
        color: $black-color-3;
        padding: 0 0 0 2rem;

        @media screen and (max-width: $mobile-lg) {
            padding: 0;
        }

        .divider {
            background-color: transparent;
            color: $black-color-3;
        }
        .item-level-1 {
            .item-title {
                padding: 1rem;
                height: auto !important;
                border-top: .5px solid $gray-color-1;

                @media screen and (max-width: $mobile-lg) {
                    padding: 0.5rem 1rem;
                }

            }
            &:hover {
                border: none !important;
                .item-title {
                    background: transparent !important;
                    color: $green-color-2;
                }
            }
            &.active {
                border: none !important;
                .item-title {
                    background: transparent !important;
                    color: $green-color-2;
                }

                .item-level-2 {
                    .item-title {
                        color: $black-color-3;

                        &:hover {
                            background-color: #deecea !important;
                            color: $green-color-2;
                            border-radius: 0 30px 30px 0;
                            margin-left: -16px;
                            padding-left: 26px;
                        }
                    }
                }
                
            }
        }
        .item-level-2 {
            .item-title {
                padding: 0.5rem 1rem;
                height: auto !important;
                border-top: none !important;
            }
            &:hover {
                border: none !important;
                .item-title {
                    background: $green-color-3 !important;
                    color: $green-color-2;
                }
            }
            &.active {
                border: none !important;
                .item-title {
                    color: $green-color-2 !important;
                    background: $green-color-3 !important;
                    border-radius: 0 30px 30px 0;
                    margin-left: -16px;
                    padding-left: 26px;
                }
            }
        }

        i.fa.fa-chevron-down:before {
            content: '-';
            line-height: 0.7;
            color: $green-color-2;
        }
        i.fa.fa-chevron-left:before {
            content: '+';
            line-height: 0.7;
            color: $green-color-2;
        }
    }
    .main-content-wrapper {
        border-left: .5px solid $gray-color-6;
        .multi-vendor-stores-wrapper {
            border-bottom: .5px solid $gray-color-6;
            padding: 0 1rem;
            overflow: hidden;
            @include flexbox;
            @include flexalignitems(center);

            @media screen and (max-width: $mobile-lg) {
                display: none;
            }
        
            .line-display {
                display: inline-block;

                .more-link a{
                    color: $orange-color-4 !important;
                }
            }
            .single-store {
                border: .5px solid $gray-color-6;
                margin: 1rem;
                padding: 0.5rem;
                border-radius: 0.5rem;
    
                img {
                    height: 3rem;
                }
            }
            .stores-title {
                color: $black-color-3;
            }
        }
        .main-content {
            margin: 0 3rem 2rem 2rem !important;
            @media screen and (max-width: $mobile-lg) {
                margin: 0 0.5rem 2rem 0.5rem !important;
            }
        }
    }
}
.filter-title {
    padding: 1rem 2.6rem;
    height: auto;
    text-transform: capitalize;
    border-top: 0.5px solid $gray-color-6;
    margin: 0 -15px;
    color: $black-color-3;
}
.filter-sidebar-title {
    padding: 1rem 2rem;
    text-align: center;
    .close {
        float: left;
    }
    .icon-Path-71:before {
        color: $black-color-3;
    }
    .back {
        color: $black-color-3;
        margin: 0 0 0 1rem;
    }
    .title {
        color: $black-color-3;
    }
}
.filter-sidebar-content {
    background: $green-color-3;
    min-height: calc(100vh - 4.2rem);
    .clear-button {
        margin: 0 2rem 1rem 2rem;
        button {
            width: 100%;
            margin: 1rem 0 0 0;
            background: transparent;
            border: 1px solid $green-color-2;
            padding: 0.5rem;
            border-radius: 0.5rem;
            color: $green-color-2;
        }
    }
    form {
        margin: 1rem 2rem;
        .rrs__button {
            margin: 1rem 0;
            box-shadow: none !important;
        }
        .rrs__label {
            border-radius: 0.4rem !important;
            border: 1px solid $gray-color-6;
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);
            span {
                color: $black-color-3;
            }
        }
    }
}



