@import "../main";

.checkout-process {
    position: relative;
    width: 100%;
    padding-left: 0;
    //95%;
    margin: 3rem;
    //3rem 0 3rem 5%;
    @include flexbox;
    @include flexjustifycontent(space-between);

    @media screen and (max-width: $mobile-lg) {
        width: 100%;
        margin: 3rem 0 1em;
        padding: 0;
    }

    header {
        width: 90% !important;
    }

    .single-process {
        width: 25%;
        text-align: center;
        @include flexbox;
        @include flexjustifycontent(center);
        @include flexalignitems(flex-start);
        position: relative;
        margin: 2rem 0 0 0;
        cursor: pointer;

        &:after {
            content: '';
            position: absolute;
            height: 1rem;
            width: 1rem;
            top: -2.43rem;
            left: 44.6%;
            background: $gray-color-6;
            border-radius: 50%;

            @media screen and (max-width: $mobile-lg) {
                left: 36.6%;
                top: -1.43rem;
            }
        }
        &:before {
            content: '';
            position: absolute;
            width: 100%;
            top: -2rem;
            right: 50%;
            height: 0.2rem;
            background: $gray-color-6;

            @media screen and (max-width: $mobile-lg) {
                top: -1rem;
            }
        }
        &:nth-child(1) {
            &:before {
                display: none;
            }
        }
        &.active {
            &:after {
                background: $orange-color-1;
            }
            .process-name {
                color: $black-color-2;
            }
        }
        &.done {
            &:after {
                background: $black-color-2;
            }
            .process-name {
                color: $black-color-2;
            }
        }
        .process-name {
            color: $gray-color-6;
        }
    }
}
.account-info-wrapper {
    width: 90%;
    margin: 0 0 70px 10%;
    @media screen and (max-width: $mobile-lg) {
        width: 100%;
        margin: 0;
    }
    .signin-block {
        border-right: solid 2px $gray-color-12;
        @media screen and (max-width: $mobile-lg) {
            border-right: none;
            padding: 0 !important;
        }
    }
    .signup-block {
        @media screen and (max-width: $mobile-lg) {
            padding: 0 !important;
            margin: 2rem 0;
        }
    }
    .account-info-title {
        color: $black-color-4;
    }
    .billing-title {
        margin: 1rem 1.3rem;

        @media screen and (max-width: $mobile-lg) {
            margin: 1rem 0;
        }
    }
    .signin-form {
        .input-field {
            input {
                width: 100%;
                margin: 1rem 0;
                background: $gray-color-2;
                border: none !important;
                padding: 0.2rem 0.5rem;
                border-radius: 0.3rem;
            }
        }
        .input-checkbox {
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);
            
            .remember {
                @include flexbox;
                @include flexalignitems(center);
                color: $gray-color-4;
            }
        }
        .billing-checkbox {
            margin: 0.5rem 0;
            padding: 0.5rem 1rem;

            &.two {
                background: rgba(222, 236, 234, 0.5);
            }
        }
    }
    .shipping-form {
        border-bottom: .5px solid $gray-color-2;

        @media screen and (max-width: $mobile-lg) {
            margin: 0 -15px !important;
        }
    }
    .shipping-btn {
        margin: 1rem;
        text-align: center;

        @media screen and (max-width: $mobile-lg) {
                text-align: left;
        }

        .auth-button {
            @extend .default-button-styles;
        }
    }
    .signin-content {
        border-bottom: .5px solid $gray-color-6;
        padding: 0 0 1rem 0;
        margin: 0 0 1rem 0;
    }
    .register-content {
        margin: 0 0 1rem 0;
    }
    .content {
        color: $gray-color-4;
        a {
            color: $gray-color-4 !important;
        }
    }
    button.auth-button {
        @extend .default-button-styles;
        background: $orange-color-5;
        color: $white-color;      
    }
    .payment-section {
        padding: 1rem 0;
        border-bottom: .5px solid $gray-color-2;
        &.delivery-section {
            @include flexbox();
            @include flexjustifycontent(space-between);

            .account-info-title {
                @include flexbox();
                @include flexalignitems(center);
            }
        }
        .wallet-title {
            color: $gray-color-4;
        }
        .wallet-content {
            color: $gray-color-4;
        }
        .single-payment {
            padding: 1rem;
            &.clicked {
                background: $gray-color-2; 
            }
            .single-payment-title {
                @include flexbox();
                @include flexjustifycontent(space-between);

                .title-wrapper {
                    @include flexbox;
                    @include flexalignitems(center);
                }
                .title-left {
                    color: $black-color-3;
                    .title {
                        margin: 0;
                        padding: 0;
                    }
                    input {
                        margin: 0 0.5rem 0 0;
                    }
                }

                .title-right {
                    .payment-logo {
                        width: 3.5rem;
                        margin-right: 0.3rem;

                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            .card-payment {
                .payment-input {
                    input {
                        width: 96%;
                        margin: 0.5rem 2%;
                        padding: 0.3rem 1rem;
                        border-radius: 0.3rem;
                        border: none;
                        &.left {
                            width: 40% !important;
                            margin: 0.5rem 0 0.5rem 2%;
                        }
                        &.right {
                            width: 40% !important;
                            float: right;
                            margin: 0.5rem 2% 0.5rem 0;
                        }
                    }
                }
            }

            .momo-payment {
                label {
                    display: none;
                }
                input {
                    background: $white-color;
                    color: $black-color-3 !important;
                    border: none;
                    border-radius: .3rem;
                    width: 100%;
                    padding: .5rem 1rem;
                }
            }
        }
        .payment-comment {
            margin-top: 1rem;
            .comment-title {
                color: $gray-color-1;
            }
            .comment-input {
                textarea {
                    width: 100%;
                    margin: 0.5rem 0;
                    height: 5rem;
                    background: $gray-color-2;
                    border: none;
                    border-radius: 0.3rem;
                }
            }
        }
    }
    .delivery-content {
        border: .5px solid $gray-color-6;
        border-radius: 0.35rem;
        margin-bottom: 2rem;
        padding-bottom: 1rem;
        .store-logo {
            background: $gray-color-6;
            padding: 0.7rem 1rem;
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);

            .store-logo-wrapper {
                height: 3rem;
                width: 3rem;
                background: $green-color-3;
                border-radius: 50%;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);

                img.store-img {
                    max-width: 2rem;
                    max-height: 2rem;
                }
            }
            
            
            .store-name {
                color: $white-color;
                .name {
                    padding: 0 2rem 0 0.5rem;
                }
            }
            .btn_store-cartProducts {
                // color: $white-color !important;
                @extend .default-button-styles;
                padding: 0.3rem 0;
                background: transparent !important;
                border: none !important;
                span {
                    padding-right: .5rem;
                }
            }
        }
        .store-cartProducts {
            visibility: hidden;
            max-height: 0;
            overflow-y: scroll;
            transition: all .5s ease-in-out;
        }
        .store-cartProducts.active {
            visibility: visible;
            max-height: 20rem;
            transition: all .5s ease-in-out;
        }
        .react-tabs {
            padding-bottom: 10px;
        
            .react-tabs__tab-list {
                border-bottom: .5px solid $gray-color-6 !important;
                margin: 1rem;
                .react-tabs__tab {
                    border-bottom: none;
                }
                .react-tabs__tab--selected {
                    border-bottom: .5px solid $orange-color-2;
                    outline: none;
                }
            }
        }
        .cart-product {
            margin: 0 1rem;

            .select2-container--default .select2-selection--single {
                border: .5px solid $gray-color-6;
            }
        }
        .checkout-total-grid {
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);
            // width: 68%;
        }        
    }
    .total-price {
        border: none;
        .shipping-grid {
            background: $green-color-3;
            width: 100%;
            margin: 0;

            .shipping-dropdown {
                width: 33%;

                .select2-selection--single {
                    min-width: 140px !important;
                }
            }
        }
        .subtotal {
            @include flexbox;
            @include flexjustifycontent(space-between);
        }
    }
}
.react-tabs__tab-list {
    border-bottom: none !important;
    .react-tabs__tab {
        padding: 0 0.5rem;
        border-bottom: .5px solid $gray-color-2;
        margin: 0 1rem 0 0;
        color: $gray-color-6;

        @media screen and (max-width: $mobile-lg) {
            width: 50%;
            margin: 0;
        }
    }
    .react-tabs__tab--selected {
        border-color: transparent;
        border-bottom: .5px solid $orange-color-2;
        color: $black-color-2;
    }
}
.cart-product {
    border-bottom: .5px solid $light-gray;
    padding: 1rem 0;

    .title {
        color: $black-color-2;
        letter-spacing: 0.06rem;
    }
    .s-price {
        color: $black-color-2;
    }
    .u-price {
        color: $black-color-5;
    }
    .t-price {
        color: $black-color-2;
    }
}
.t-title {
    color: $black-color-5;
}
.t-content {
    color: $black-color-2;
}
.dur-title {
    color: $black-color-3;
}
.dur-content {
    color: $orange-color-6;
}
.select2-container {
    width: 100% !important;
}
.line {
    @include flexbox;
    @include flexjustifycontent(space-between);

    .title {
        color: $black-color-2;
        letter-spacing: 0.06rem;
    }
    .s-price {
        color: $black-color-2;
    }
    .u-price {
        color: $black-color-5;
    }
    .t-price {
        color: $black-color-2;
    }
}
.product-att {
    color: $gray-color-6;
}

.order-summary-grid {
    background: $gray-color-2;
    .order-summary-wrapper {
        margin: 3rem 1rem;

        @media screen and (max-width: $mobile-lg) {
            margin: 3rem 0 !important;
        }

        .order-summary-title {
            color: $orange-color-1;
            margin: 1.7rem 0 1rem;
            text-align: center;
        }
        .white-background {
            background: $white-color;
            padding: 2rem;
            margin: 1rem 0 0 0;
            border-radius: 4px;

            .store-logo-wrapper {
                height: 3rem;
                width: 3rem;
                background: $green-color-3;
                border-radius: 50%;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);

                img.store-logo {
                    max-height: 2rem;
                    max-width: 2rem;
                    
                }
            }
            
            .checkout-cart-header {
                padding: 0 0 1rem 0;
                margin: 0 0 0.5rem 0;
                @include flexbox;
                @include flexjustifycontent(space-between);
                @include flexalignitems(flex-end);
                border-bottom: .5px solid $light-gray;

                .store-cart-content {
                    @include flexbox;
                    @include flexalignitems(flex-end);

                    .store-name {
                        padding-left: 1rem;
                    }
                }
            }
            .gift-block {
                margin: 1rem 0 1rem 1rem;
                input {
                    width: 80%;
                    background: $gray-color-2;
                    border: none;
                    padding: 0.6rem 1rem;
                    border-radius: 0.3rem 0 0 0.3rem;
                }
                button {
                    background: $white-color;
                    width: 20%;
                    border: .5px solid $gray-color-2;
                    padding:0.54rem 1rem;
                    border-radius: 0 0.3rem 0.3rem 0;
                }
            }
            .subtotal {
                color: $black-color-2;
                text-align: right;
            }
            .shipping {
                color: $black-color-2;
                text-align: right;
                line-height: 33px;
            }
            .total {
                text-align: right;
                margin: 0.5rem 0;
                .total-t {
                    background: $orange-color-3;
                    color: $orange-color-1;
                    padding: 0.2rem 1rem;
                    border-radius: 0.3rem;
                }
            }
        }
    }     
}