@import "../main";

.checkout-process {
    border-top: 2px solid $gray-color-6;
    position: relative;
    width: 70%;
    margin: 3rem 10% 3rem 20%;
    @include flexbox;
    @include flexjustifycontent(space-between);

    @media screen and (max-width: $mobile-lg) {
        width: 100%;
        margin: 3rem 0;
    }

    .single-process {
        display: inline-block;
        .process-point {
            height: 1rem;
            width: 1rem;
            background: $gray-color-6;
            border-radius: 50%;
            margin: -0.5rem 0 0 0;
        }
        .process-name {
            color: $gray-color-6;

            // &::before {
            //     content: '';
            //     height: 1rem;
            //     width: 1rem;
            //     background: $gray-color-6;
            //     border-radius: 50%;
            // }
        }
    }
}
.account-info-wrapper {
    width: 80%;
    margin: 0 10% 0 10%;
    @media screen and (max-width: $mobile-lg) {
        width: 100%;
        margin: 0;
    }
    .singin-block {
        border-right: 1px solid $gray-color-6;
        @media screen and (max-width: $mobile-lg) {
            border-right: none;
            padding: 0 !important;
        }
    }
    .account-info-title {
        color: $black-color-4;
    }
    .billing-title {
        margin: 1rem 1.3rem;

        @media screen and (max-width: $mobile-lg) {
            margin: 1rem 0;
        }
    }
    .signin-form {
        .input-field {
            input {
                width: 100%;
                margin: 1rem 0;
                background: $gray-color-2;
                border: none !important;
                padding: 0.2rem 0.5rem;
                border-radius: 0.3rem;
            }
        }
        .input-checkbox {
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);
            
            .remember {
                @include flexbox;
                @include flexalignitems(center);
                color: $gray-color-4;
            }
        }
        .billing-checkbox {
            margin: 0.5rem 0;
            padding: 0.5rem 1rem;

            &.two {
                background: rgba(222, 236, 234, 0.5);
            }
        }
    }
    .shipping-form {
        border-bottom: 1px solid $gray-color-2;

        @media screen and (max-width: $mobile-lg) {
            margin: 0 -15px !important;
        }
    }
    .shipping-btn {
        margin: 1rem;
        text-align: center;
    }
    .signin-content {
        border-bottom: 1px solid $gray-color-6;
        padding: 0 0 1rem 0;
        margin: 0 0 1rem 0;
    }
    .register-content {
        margin: 0 0 1rem 0;
    }
    .content {
        color: $gray-color-4;
        a {
            color: $gray-color-4 !important;
        }
    }
    button.auth-button {
        background: $orange-color-5;
        color: $white-color;
        border: none;
        padding: 0.2rem 2rem;
        border-radius: 0.3rem;
    }
    .payment-section {
        padding: 1rem 0;
        border-bottom: 1px solid $gray-color-2;
        .wallet-title {
            color: $gray-color-4;
        }
        .wallet-content {
            color: $gray-color-4;
        }
        .single-payment {
            padding: 1rem;
            &.clicked {
                background: $gray-color-2; 
            }
            .single-payment-title {
                .title-left {
                    color: $black-color-3;
                    input {
                        margin: 0 0.5rem 0 0;
                    }
                }
                .title-right {

                }
            }
            .card-payment {
                .payment-input {
                    input {
                        width: 96%;
                        margin: 0.5rem 2%;
                        padding: 0.3rem 1rem;
                        border-radius: 0.3rem;
                        border: none;
                        &.left {
                            width: 40% !important;
                            margin: 0.5rem 0 0.5rem 2%;
                        }
                        &.right {
                            width: 40% !important;
                            float: right;
                            margin: 0.5rem 2% 0.5rem 0;
                        }
                    }
                }
            }
        }
        .payment-comment {
            .comment-title {
                color: $gray-color-1;
            }
            .comment-input {
                textarea {
                    width: 100%;
                    margin: 0.5rem 0;
                    height: 5rem;
                    background: $gray-color-2;
                    border: none;
                    border-radius: 0.3rem;
                }
            }
        }
    }
    .delivery-content {
        border: 1px solid $gray-color-6;
        border-radius: 0.35rem;
        .store-logo {
            background: $gray-color-6;
            padding: 0 1rem;
            img.store-img {
                height: 3rem;
                width: 3rem;
                background: $green-color-3;
                border-radius: 50%;
            }
        }
        .react-tabs__tab-list {
            border-bottom: 1px solid $gray-color-6 !important;
            margin: 0 1rem 1rem 1rem;
            .react-tabs__tab {
                border-bottom: none;
            }
            .react-tabs__tab--selected {
                border-bottom: 1px solid $orange-color-2;
            }
        }
        .cart-product {
            margin: 0 1rem;
        }        
    }
    .total-price {
        .shipping-grid {
            background: $green-color-3;
            width: 100%;
            margin: 0;
        }
    }
}
.react-tabs__tab-list {
    border-bottom: none !important;
    .react-tabs__tab {
        padding: 0 0.5rem;
        border-bottom: 1px solid $gray-color-2;
        margin: 0 1rem 0 0;
        color: $gray-color-6;

        @media screen and (max-width: $mobile-lg) {
            width: 50%;
            margin: 0;
        }
    }
    .react-tabs__tab--selected {
        border-color: transparent;
        border-bottom: 1px solid $orange-color-2;
        color: $black-color-2;
    }
}
.cart-product {
    border-bottom: 1px solid $gray-color-6;
    padding: 0.5rem 0;
    margin: 0 0 0 1rem;
}
.line {
    @include flexbox;
    @include flexjustifycontent(space-between);

    .title {
        color: $black-color-2;
        letter-spacing: 0.06rem;
    }
    .s-price {
        color: $black-color-2;
    }
    .u-price {
        color: $black-color-5;
    }
    .t-price {
        color: $black-color-2;
    }
}
.product-att {
    color: $gray-color-6;
}

.order-summary-grid {
    background: $gray-color-2;
    .order-summary-wrapper {
        margin: 3rem 1rem;

        @media screen and (max-width: $mobile-lg) {
            margin: 3rem 0 !important;
        }

        .order-summary-title {
            color: $gray-color-6;
            text-align: center;
            margin: 1rem;
        }
        .white-background {
            background: $white-color;
            padding: 0.5rem;
            margin: 1rem 0 0 0;
            img.store-logo {
                height: 3rem;
                width: 3rem;
                background: $green-color-3;
                border-radius: 50%;
            }
            .checkout-cart-header {
                padding: 0 0 0.5rem 0;
                margin: 0 0 0.5rem 0;
                @include flexbox;
                @include flexjustifycontent(space-between);
                @include flexalignitems(flex-end);
                border-bottom: 1px solid $gray-color-6;

                .store-cart-content {
                    @include flexbox;
                    @include flexalignitems(flex-end);
                }
            }
            .gift-block {
                margin: 1rem 0 1rem 1rem;
                input {
                    width: 80%;
                    background: $gray-color-2;
                    border: none;
                    padding: 0.3rem 1rem;
                    border-radius: 0.3rem 0 0 0.3rem;
                }
                button {
                    background: $white-color;
                    width: 20%;
                    border: 1px solid $gray-color-2;
                    padding: 0.24rem 1rem;
                }
            }
            .subtotal {
                color: $black-color-2;
                text-align: right;
            }
            .shipping {
                color: $black-color-2;
                text-align: right;
            }
            .total {
                text-align: right;
                margin: 0.5rem 0;
                .total-t {
                    background: $orange-color-3;
                    color: $orange-color-1;
                    padding: 0.2rem 1rem;
                    border-radius: 0.3rem;
                }
            }
        }
    }     
}