@import "../main";


body {
    position: relative;
    padding-bottom: 0 !important;

    @media screen and (max-width: $mobile-md-lg) {
        padding-bottom: 0 !important;
    }
    @media screen and (min-width: $mobile-md-lg) and (max-width: $mobile-lg) {
        padding-bottom: 0 !important;
    }
}

.error-page-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
}

.error-wrapper {
    height: calc(100vh - 8rem);
    position: relative;
    .content-row {
        width: 94%;
        margin: 0 3%;
        height: calc(100vh - 20rem);

        .left-content {
            float: left;
            height: 100%;
            @include inlineFlex;
            @include flexalignitems(center);
            h2 {
                color: $black-color-3;
            }
            p {
                color: $black-color-3;
                a {
                    color: $green-color-2 !important;
                    border-bottom: 1px solid $green-color-2;
                }
            }
            button {
                background: $orange-color-5;
                border: none;
                border-radius: 0.2rem;
                color: $gray-color-13;
                padding: 0.7rem 2rem;
                outline: none;
            }
        }
        .right-content {
            float: right;
            height: 100%;
            @include inlineFlex;
            @include flexalignitems(center);
            img {
                height: 70%;
            }
        }
    }
    .category-row {
        position: absolute;
        bottom: 2rem;
        width: 94%;
        margin: 0 3% !important;
        .category-title p {
            color: $black-color-3;
        }
        .category-wrapper {
            a {
                padding: 0.5rem;
                margin: 0 0.5rem 0.5rem 0;
                border: 1px solid $gray-color-5;
                height: 4rem;
                border-radius: 0.2rem;
                background: $white-color;
                @include inlineFlex;
                @include flexalignitems(center);
                @include flexjustifycontent(center);
                transition-duration: 1s;
                
                &:hover {
                    .category-item {
                        color: $green-color-2;
                    }
                }
                .category-item {
                    img {
                        height: 2rem;
                        margin: 0 1rem 0 0;
                    }
                }
            }
        }
    }
}