@import "../main";

.top-panel {
    background: $black-color-2;
    padding: 0.5rem 0;

    @media (max-width: $mobile-lg) {
        display: none;
    }

    .top-panel-left {
        text-align: left;
    }
    .top-panel-right {
        text-align: right;
    }
    .top-content {
        line-height: 1.37;
        letter-spacing: 0.05rem;
        text-align: left;
        color: $green-color-1;
        padding: 0 1rem;
    }
}
.header {
    padding: 1rem 0;
    @include boxshadow(0 3px 16px 0 rgba(0, 0, 0, 0.05));

    .header-left {
        padding-right: 0 !important;
        @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
            max-width: 26%;
        }
        @media (max-width: $mobile-lg) {
            padding-left: 0;
        }

        .site-logo {

            @media (max-width: $mobile-lg) {
                position: absolute;
                z-index: 1;
                top: 38px;
                left: 35px;
            }

            img {
                height: 3rem;
                margin: 0 0 0 1rem;
            }
        }
        .location-dropdown {
            display: inline-block;
            margin: 0 0 0 1rem;
            min-width: 40%;

            @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                position: absolute;
                top: -35px;
                left: 280px;
            }

            @media (max-width: $mobile-lg) {
                width: 100vw;
                margin: 0;
                border-bottom: 1px solid $gray-color-2;
            }

            .select2-container {
                width: 100% !important;

                @media (max-width: $mobile-lg) {
                    width: 50% !important;
                    margin: 0 25% !important;
                }
            }
            .select2-container--default .select2-selection--single {
                height: 3rem;
                border-radius: 0 !important;
                border: none !important;  
                outline: none !important;

                @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                    background: transparent !important;
                    height: 2.5rem;
                }                

                .select2-search--dropdown {
                    .select2-search__field {
                        outline: none !important;
                    }
                }

                .select2-selection__rendered {
                    line-height: unset !important;
                    height: 100%;
                    @include flexbox;
                    @include flexalignitems(center);
                    outline: none;

                    @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                        color: #fff;
                    }

                }  
                .select2-selection__arrow {
                    height: 3rem;
                    color: $black-color-4;
                    padding-left: 5px;
                    @include flexbox;
                    @include flexalignitems(center);

                    @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
                        height: 2.5rem;
                        color: #fff;
                        
                    }

                    b {
                        display: none;
                    }
                }
                .select2-selection__placeholder {
                    color: $black-color-4;
                }
            }
        }
    }

    .search-container {

        @media (max-width: $mobile-lg) {
            position: absolute;
            top: 47px;
            right: 100px;
        }

        @media (min-width: $mobile-md-lg) and (max-width: $mobile-lg) {
            position: relative;
            top: 38px;
            right: 0;
        }
        
        .main-search {
            background: $gray-color-2;
            width: 100%;
            display: block;
            height: 3rem;
            border-radius: 0.35rem;

            @media (max-width: $mobile-lg) {
                height: auto;
                width: auto;
                display: inline-block;
                background: transparent;
            }

            input {
                width: 65%;
                height: 3rem;
                background: $gray-color-2;
                border-right: 1px solid $white-color !important;
                border: none;
                border-radius: 0.35rem 0 0 0.35rem;
                padding: 0 1rem;
                outline: none;

                @media (max-width: $mobile-lg) {
                    display: none;
                }

            }
            .categories-dropdown {
                display: inline-block;
                position: absolute;
                min-width: 26%;

                @media (max-width: $mobile-lg) {
                    display: none;
                }

                .select2-container {
                    width: 100% !important;
                    &.select2-container--focus {
                        outline: none;
                    }
                }
                .select2-container--default .select2-selection--single {
                    height: 3rem;
                    border-radius: 0 !important;
                    border: none !important;  
                    background: transparent;
                    outline: none !important;

                    .select2-search--dropdown {
                        .select2-search__field {
                            outline: none !important;
                        }
                    }
        
                    .select2-selection__rendered {
                        line-height: unset !important;
                        height: 100%;
                        @include flexbox;
                        @include flexalignitems(center);
                        outline: none;
                    }  
                    .select2-selection__arrow {
                        height: 3rem;
                        color: $black-color-4;
                        height: 3rem;
                        @include flexbox;
                        @include flexalignitems(center);
        
                        b {
                            display: none;
                        }
                    }
                    .select2-selection__placeholder {
                        color: $black-color-4;
                    }
                }
            }
            button {
                width: 7%;
                height: 3rem;
                float: right;
                background: $gray-color-2;
                border: none;
                border-radius: 0 0.35rem 0.35rem 0;
                outline: none;
                border-left: 1px solid $white-color !important;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);

                @media (max-width: $mobile-lg) {
                    width: auto;
                    background: transparent;
                    
                }

                .icon-Path-64:before {
                    color: $gray-color-3;

                    @media (max-width: $mobile-lg) {
                        color: $gray-color-4;
                        font-size: 2.3rem;
                        
                    }
                }
            }
        }
    }

    .account-container {
        @media screen and (min-width: $tablet-min) and (max-width: $tablet-md) {
            max-width: 30%;
            flex: 0 0 30%;
        }

        @media screen and (max-width: $mobile-lg) {
            position: absolute;
            right: 0;
            top: 47px;
            padding: 0 !important;
        }

        .row-container {
            @media screen and (max-width: $mobile-lg) {
                margin: 0 !important;
            }

        }

        .account-grid {

            @media screen and (max-width: $mobile-lg) {
                padding: 0 10px;
            }

            .account-links {

                @media screen and (max-width: $mobile-lg) {
                    display: none;
                }

                .header-content {

                    @media screen and (max-width: $mobile-lg) {
                        display: none;
                    }
                }
            }
        }
    }



    .icon-Path-62 {
        @include flexbox;
        @include flexalignitems(center);
        @include flexjustifycontent(center);
        height: 3rem;

        &:before {
            color: $gray-color-4;
        }
    }
    .cart-grid {
        @include flexbox;
        @include flexalignitems(center);
        @include flexjustifycontent(flex-start);
        height: 3rem;
        padding: 0 0 0 4rem;

        @media screen and (max-width: $mobile-lg) {
            padding: 0 0 0 10px;
            max-width: 100%;
        }

        .header-content {

            @media screen and (max-width: $mobile-lg) {
                display: none;
            }
        }
        
        .icon-Path-63 {
            &:before {
                padding: 0 1rem 0 0;
                color: $green-color-2;
            }
        }
    }
}


.main-menu {
    padding: 0 !important;
    margin: 0 !important;
    background: $gray-color-2;
    display: inline-block;
    border-radius: 0.35rem;
    float: right;

    @media (max-width: $mobile-lg) {
        float: left;
        background: transparent;
        height: 65%;
        @include flexbox;
        @include flexalignitems(center);
    }

    .nav-container {
        height: 3rem;
        @include flexbox;
        @include flexjustifycontent(center);

        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;

            .nav__menu-item {
                display: inline-block;
                position: relative;

                @media screen and (max-width: $mobile-lg) {
                    display: none;
                }

                .icon-Path-73{
                    @include flexbox;
                    @include flexalignitems(center);
                    @include flexjustifycontent(flex-end);
                    height: 3rem;
                    width: 1.5rem;

                    @media (max-width: $mobile-lg) {
                        display: none;
                    }
                }
                span{
                    &:before {
                        color: #555555;
                    }
                }
                &:hover {
                    .nav__submenu {
                        display: block;
                        height: auto;
                    }
                }

                .main-menu__item-a {
                    cursor: pointer;
                    color: $black-color-2;
                    @include flexbox;
                    @include flexalignitems(center);
                    height: 3rem;
                    padding: 0 1rem;
                    
                    .icon-Path-61 {
                        @media (max-width: $mobile-lg) {
                            font-size: 33.5rem;
                        }
                    }
                }
            }

            .nav__menu-item-mobo {
                display: none;

                @media screen and (max-width: $mobile-lg) {
                    display: block;
                }

                .SidebarContent {
                    width: 70% !important;
                    left: -70% !important;
                }
                .Sidebar.is-open .SidebarContent {
                    left: 0 !important;
                }
                .nav__submenu {
                    position: relative;
                    width: 100%;
                    z-index: 99999999999 !important;
                    box-shadow: none;
                }
                .main-menu__item-a {
                    margin: 1rem;
                    display: block;
                    .icon-Path-61 {
                        @media (max-width: $mobile-lg) {
                            font-size: 1.5rem;
                        }
                    }
                    .icon-Path-73{
                        @media (max-width: $mobile-lg) {
                            display: none;
                        }
                    }
                }
            }
            .mobo-menu-title {
                .sidebar-title {
                    padding: 1rem;
                    .icon-Path-71 {
                        margin: 0 1rem 0 0;
                    }
                    .title {
                        display: inline-block;
                    }
                }
            }
        }
    }

    .nav__submenu {
        position: absolute;
        right: 0;
        background-color: $white-color;
        width: 100%;
        height: 1rem;
        z-index: 99999999999 !important;
        @include boxshadow(-1px 8px 20px $gray-color-5);
        translate: 0.3s;
        width: 22rem;

        li {
            background-color: $white-color;
            @include boxshadow(-1px 8px 20px $gray-color-5);

            @media screen and (max-width: $mobile-lg) {
                min-height: calc(100vh - 3.3rem);
            }

            .menu-btn {
                padding: 1rem 2rem 3rem 2rem;
                button {
                    width: 100%;
                    border-radius: 0.2rem;
                    border: solid 1px $green-color-2;
                    background-color: $white-color;
                    color: $green-color-2;
                    padding: 0.8rem;
                }
            }
        }
        .nav__submenu-item {
            cursor: pointer;
            @include flexbox;
            @include flexalignitems(left);
            @include flexjustifycontent(flex-start);
            padding: 1rem;
            border-bottom: 1px solid $gray-color-2;

            .sub-menu__item-a {
                color: $black-color-3 !important;
            }
            &:hover {
                background: $gray-color-2;
                .sub-category {
                    visibility: visible;
                }
            }
            .menu-item-icon {
                &:before {
                    margin: 0 1rem 0 0;
                }
            }
        }
    }
}

.Sidebar {
    .SidebarOverlay {
		position: fixed;
		top: 0;
		left: 0;
		background: rgba(29, 48, 67, 0.49);
		width: 0;
		height: 0;
		z-index: 99999;
		transition:
        opacity 300ms ease-in-out,
        width 0ms 300ms,
        height 0ms 300ms;
    }
  
    .SidebarContent {
		position: fixed;
		z-index: 99999999;
		top: 0;
		box-shadow: 0px 36px 36px rgba(0, 0, 0, 0.25098039215686274);
		background-color: $gray-color-2;
		transition: 300ms ease-in-out;
		transition-property: left, right, top, bottom;
		overflow-x: hidden;
		overflow-y: auto;
		scroll-behavior: smooth;
    }
    
    &.is-open {
      	.SidebarOverlay {
			width: 100%;
			height: 100%;
			transition:
			opacity 300ms ease-in-out,
			width 0ms,
			height 0ms;
      	}
      
		.SidebarContent {
			left: 0 !important;
			
			&.is-right {
                left: auto !important;
                right: 0 !important;
                background: $white-color;

                @media (min-width: $tablet-min) and (max-width: $tablet-md) {
                    width: 60% !important
                }

                @media screen and (max-width: $mobile-lg) {
                    width: 100% !important;
                    // top: 8rem !important;
                }

			}
		}
    }
}
.cart-sidebar {
    .main-title {
        background: $green-color-2;
        @include flexbox;
        @include flexalignitems(center);
        @include flexjustifycontent(space-between);
        padding: 0.5rem 1rem;

        .sidebar-title {
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(flex-start);
            .icon-Path-63:before {
                color: $white-color;
            }
            .title {
                color: $white-color;
                padding: 0 1rem;
            }
            .item-nbr {
                color: $white-color;
                padding: 0 1rem;
            }
        }
        .sidebar-close {
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(flex-end);
            background: none;
            border: 0;
            outline: none !important;
            .close-cart {
                color: $white-color;
                padding: 0 0.5rem;
            }
            .icon-Path-58:before {
                color: $white-color;
            }
        }
    }
    .cart-content {
        background: $gray-color-2;
        overflow: auto;
        position: relative;
        height: calc(100vh - 3.3rem);
        overflow: hidden;

        .cart-content-content {
            overflow-y: scroll;
            height: calc(100vh - 7.6rem);
        }
        .cart-store-content {
            position: relative;
            margin: 2rem 1rem 0 1rem;
            background: $white-color;
            &:before {
                content: "\e920";
                color: $white-color;
                top: -5rem;
                left: -1rem;
                position: absolute;
            }
            .store-logo {
                height: 3rem;
                .store-img {
                    position: absolute;
                    top: -1rem;
                    left: 1.95rem;
                    height: 2.8rem;
                    width: 2.8rem;
                    background: $green-color-3;
                    border-radius: 50%;
                }
                .store-name {
                    color: $gray-color-6;
                    left: 5.6rem;
                    top: 0.3rem;
                    position: absolute;
                    line-height: 1.35;
                }
            }
            .cart-item {
                border-top: 2px solid $gray-color-2;
                padding: 0.5rem 0;
    
                .product-cart-image {
                    .cart-product-img {
                        width: 80%;

                        @media screen and (max-width: $mobile-lg) {
                            padding: 8px;
                        }
                    }
                }
                .name-incremenet {
                    position: relative;
                    .product-name {
    
                    }
                    .qty-measurement {
                        color: $gray-color-6;
                    }
                    .qty-increment {
                        position: absolute;
                        bottom: 0;
                        @include flexbox;

                        @media screen {
                            position: relative;
                        }
    
                        .decrement, .increment {
                            border-radius: 5rem;
                            color: $green-color-2;
                            background: $green-color-3;
                            @include flexbox;
                            @include flexalignitems(center);
                            @include flexjustifycontent(center);
                            height: 2rem;
                            width: 2rem;
                            margin: 0 0.5rem 0 0;

                            @media screen {
                                height: 1.5rem;
                                width: 1.5rem;
                            }
                        }
                        .number {
                            @include flexbox;
                            @include flexalignitems(center);
                            @include flexjustifycontent(center);
                            height: 2rem;
                            width: 2rem;
                            margin: 0 0.5rem 0 0;
                        }
                    }
                }
                .prices-discounts {
                    @include flexbox;
                    .cart-bk {
                        margin: 0 0.5rem 0 0;
                        display: inline-block;
                        position: relative;
                        height: 100%;
                        width: 33%;
                        text-align: right;

                        @media screen and (max-width: $mobile-lg) {
                            height: 80%;                            
                        }

                        .xs-hidden__txt {
                            display: none;

                            @media screen and (max-width: $mobile-lg) {
                                display: none !important;                            
                            }
                        }
                            
                        .discount {
                            padding: 0.2rem 0.5rem;
                            border-radius: 2rem;                    
                            color: $red-color-1;
                            background: $red-color-2;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                        .edit {
                            color: $gray-color-6;
                            background: none;
                            border: 0;
                            outline: none !important;
                            @media screen and (max-width: $mobile-lg) {
                                margin-right: -15px;
                            }

                            .icon-Path-68:before {
                                color: $green-color-2;
                            }
                        }
                        .initial-price {
                            color: $gray-color-6;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            text-decoration: line-through;
                        }
                        .remove {
                            background: none;
                            border: 0;
                            outline: none !important;
                            color: $gray-color-6;
                            .icon-Path-60:before {
                                color: $green-color-2;
                            }
                        }
                        .price {
                            color: $black-color-2;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }
            }
        }
        .go-to-checkout {
            background: $white-color;
            position: absolute;
            bottom: 0;
            width: 100%;
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);
        
            .grand-total {
                color: $orange-color-1;
                padding: 0 2rem;
            }
            .proceed-button {
                button {
                    background: $orange-color-1;
                    color: $white-color;
                    border: none;
                    padding: 1rem;
                }
                a {
                    color: $white-color !important;
                }
            }
        }
    }
}
.menu-wrapper {
    display: -webkit-inline-box;
}
.sub-category {
    position: absolute;
    top: 0;
    padding: 1rem 0 1rem 2rem;
    margin-left: 21rem;
    height: auto;
    min-height: 100%;
    background: $white-color;
    z-index: 9;
    min-width: 900px;
    visibility: hidden;
    @include boxshadow(3px 6px 20px $gray-color-5);
    h5 {
        margin: 2rem 0 1rem 0 !important; 
    }
    a {
        line-height: 1.3;
        margin: 0;
        display: block;
        color: $black-color-3 !important;
    }
    .menu-img {
        img {
            width: 100%;
        }
    }
    .sub-wrapper {
        width: 33.3% !important;
        float: left;

        .sub-cat-title {
            margin: 2rem 0 1rem 0 !important; 
        }
    }
}

.empty-cart-items{
    text-align: center;
    padding: 23rem 0 0 0;
}



// .cd-dropdown {
//     position: fixed;
//     z-index: 1;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     transform: translateY(-100%);
//     transition: transform 0.5s;
//   }
//   .cd-dropdown.dropdown-is-active {
//     transform: translateY(0);
//   }
//   .cd-dropdown-content.is-hidden, .cd-dropdown-content ul.is-hidden {
//     /* push the secondary dropdown items to the right */
//     transform: translateX(100%);
//   }
  
//   .cd-dropdown-content.move-out > li > a, .cd-dropdown-content ul.move-out > li > a {
//     /* push the dropdown items to the left when secondary dropdown slides in */
//     transform: translateX(-100%);
//   }

//   @media only screen and (min-width: 1024px) {
//     .cd-dropdown {
//       position: absolute;
//       top: 100%;
//       /* reset style*/
//       height: auto;
//       width: auto;
//       opacity: 0;
//       visibility: hidden;
//       transform: translateY(30px);
//       transition: opacity 0.3s 0s, visibility 0s 0.3s, transform 0.3s 0s;
//     }
//     .cd-dropdown.dropdown-is-active {
//       visibility: visible;
//       opacity: 1;
//       transform: translateY(0);
//       transition: opacity 0.3s 0s, visibility 0.3s 0s, transform 0.3s 0s;
//     }
  
//     .cd-dropdown-content {
//       /* reset mobile style */
//       position: static;
//       height: auto;
//       width: 280px;
//     }
//     .cd-dropdown-content .cd-secondary-dropdown, .cd-dropdown-content .cd-dropdown-gallery, .cd-dropdown-content .cd-dropdown-icons {
//       transform: translateX(0);
//       left: 100%;
//       height: auto;
//     }
//     .cd-dropdown-content .cd-secondary-dropdown.is-hidden, .cd-dropdown-content .cd-dropdown-gallery.is-hidden, .cd-dropdown-content .cd-dropdown-icons.is-hidden {
//       /* reset mobile style */
//       transform: translateX(0);
//     }
//     .cd-dropdown-content > .has-children > ul {
//       visibility: hidden;
//     }
//     .cd-dropdown-content > .has-children:hover > ul {
//       /* when hover over .cd-dropdown-content items - show subnavigation */
//       visibility: visible;
//     }
//     .cd-dropdown-content > .has-children:hover > .cd-secondary-dropdown > li > ul {
//       /* if .cd-secondary-dropdown is visible - show also subnavigation */
//       visibility: visible;
//     }
//   }