@import "../main";

.top-panel {
    background: $black-color-2;
    padding: 0.5rem 0;

    .top-panel-left {
        text-align: left;
    }
    .top-panel-right {
        text-align: right;
    }
    .top-content {
        line-height: 1.37;
        letter-spacing: 0.05rem;
        text-align: left;
        color: $green-color-1;
        padding: 0 1rem;
    }
}
.header {
    padding: 1rem 0;
    @include boxshadow(0 3px 16px 0 rgba(0, 0, 0, 0.05));

    .header-left {
        padding-right: 0 !important;

        .site-logo {
            img {
                height: 3rem;
                margin: 0 0 0 1rem;
            }
        }
        .location-dropdown {
            display: inline-block;
            margin: 0 0 0 1rem;
            min-width: 40%;
            .select2-container {
                width: 100% !important;
            }
            .select2-container--default .select2-selection--single {
                height: 3rem;
                border-radius: 0 !important;
                border: none !important;  

                .select2-selection__rendered {
                    line-height: unset !important;
                    height: 100%;
                    @include flexbox;
                    @include flexalignitems(center);
                    outline: none;
                }  
                .select2-selection__arrow {
                    height: 3rem;
                    color: $black-color-4;
                    height: 3rem;
                    @include flexbox;
                    @include flexalignitems(center);

                    b {
                        display: none;
                    }
                }
                .select2-selection__placeholder {
                    color: $black-color-4;
                }
            }
        }
    }
    .main-search {
        background: $gray-color-2;
        width: 100%;
        display: block;
        height: 3rem;
        border-radius: 0.35rem;

        input {
            width: 65%;
            height: 3rem;
            background: $gray-color-2;
            border-right: 1px solid $white-color !important;
            border: none;
            border-radius: 0.35rem 0 0 0.35rem;
            padding: 0 1rem;
            outline: none;
        }
        .categories-dropdown {
            display: inline-block;
            position: absolute;
            min-width: 26%;

            .select2-container {
                width: 100% !important;
                &.select2-container--focus {
                    outline: none;
                }
            }
            .select2-container--default .select2-selection--single {
                height: 3rem;
                border-radius: 0 !important;
                border: none !important;  
                background: transparent;
    
                .select2-selection__rendered {
                    line-height: unset !important;
                    height: 100%;
                    @include flexbox;
                    @include flexalignitems(center);
                    outline: none;
                }  
                .select2-selection__arrow {
                    height: 3rem;
                    color: $black-color-4;
                    height: 3rem;
                    @include flexbox;
                    @include flexalignitems(center);
    
                    b {
                        display: none;
                    }
                }
                .select2-selection__placeholder {
                    color: $black-color-4;
                }
            }
        }
        button {
            width: 7%;
            height: 3rem;
            float: right;
            background: $gray-color-2;
            border: none;
            border-radius: 0 0.35rem 0.35rem 0;
            outline: none;
            border-left: 1px solid $white-color !important;
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(center);

            .icon-Path-64:before {
                color: $gray-color-3;
            }
        }
    }
    .icon-Path-62 {
        @include flexbox;
        @include flexalignitems(center);
        @include flexjustifycontent(center);
        height: 3rem;

        &:before {
            color: $gray-color-4;
        }
    }
    .cart-grid {
        @include flexbox;
        @include flexalignitems(center);
        @include flexjustifycontent(flex-start);
        height: 3rem;
        
        .icon-Path-63 {
            &:before {
                padding: 0 1rem 0 0;
                color: $green-color-2;
            }
        }
    }
}


.main-menu {
    padding: 0 !important;
    margin: 0 !important;
    background: $gray-color-2;
    display: inline-block;
    border-radius: 0.35rem;
    float: right;

    .nav-container {
        height: 3rem;
        @include flexbox;
        @include flexjustifycontent(center);

        ul {
            list-style: none;
            padding-left: 0;
            margin-top: 0;
            margin-bottom: 0;

            .nav__menu-item {
                display: inline-block;
                position: relative;

                .icon-Path-73{
                    @include flexbox;
                    @include flexalignitems(center);
                    @include flexjustifycontent(flex-end);
                    height: 3rem;
                    width: 1.5rem;
                }
                span{
                    &:before {
                        color: #555555;
                    }
                }
                &:hover {
                    .nav__submenu {
                        display: block;
                        height: auto;
                    }
                }

                .main-menu__item-a {
                    cursor: pointer;
                    color: $black-color-2;
                    @include flexbox;
                    @include flexalignitems(center);
                    height: 3rem;
                    padding: 0 1rem;
                }
            }
        }
    }

    .nav__submenu {
        position: absolute;
        background-color: $white-color;
        width: 100%;
        height: 1rem;
        z-index: 99999999999 !important;
        @include boxshadow(-1px 8px 20px $gray-color-5);
        translate: 0.3s;
        width: 15rem;
        .nav__submenu-item {
            cursor: pointer;
            color: $black-color-2;
            @include flexbox;
            @include flexalignitems(left);
            @include flexjustifycontent(flex-start);
            padding: 0.5rem 1rem;
            &:hover {
                background: $gray-color-2;
            }
        }
    }
}
