@import "../main";

.main-banners {
    background: $gray-color-2;

    .slick-slider {
        width: 100%;
    
        .slick-prev {
            left: 1.5rem;
            z-index: 999;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            opacity: 1;
            background-color: rgba(240, 244, 245, 0.15);
            &:before {
                content: '\E91a';
                color: $white-color !important;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);
                width: 5rem;
                height: 5rem;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 50%;
            }

            @media screen and (max-width: $mobile-lg) {
                display: none !important;
            }
        }
        .slick-next {
            right: 1.5rem;
            z-index: 999;
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            opacity: 1;
            background-color: rgba(240, 244, 245, 0.15);
            &:before {
                content: '\e919';
                color: $white-color !important;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);
                width: 5rem;
                height: 5rem;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 50%;
            }
            @media screen and (max-width: $mobile-lg) {
                display: none !important;
            }
        }
        .slick-slide img {
            width: 100%;
        }
        .slick-dots {
            display: none !important;
        }
    }
}

.categories-scroller {
    background: $gray-color-2;

    @media screen and (max-width: $mobile-lg) {
        display: none;
    }

    .slick-slider {
        width: 90%;
        margin: 0 auto !important;
        padding: 1.5rem 0;
        background: $white-color;
        top: -4rem;
        border-radius: 20px;
        @include boxshadow(0 3px 36px 0 rgba(0, 0, 0, 0.16));

        @media screen and (max-width: $mobile-lg) {
            width: 100%;
            padding: 0.5rem 0;
            top: 1rem;
            background: transparent;
            box-shadow: none;
            padding-bottom: 25px;
            border-bottom: .5px solid $gray-color-7;
            border-radius: 0;
        }

        .slick-track {
            @media screen and (max-width: $mobile-lg) {
                transform: translate3d(0, 0px, 0px) !important;
                width: 100vw !important;
            }            
        }
    
        .slick-prev {
            z-index: 999;
            height: 100%;
            left: 0;
            width: 3.14rem;
            @include boxshadow(8px 0 6px 0 rgba(0, 0, 0, 0.05));

            @media screen and (max-width: $mobile-lg) {
                display: none !important;
            }

            &:before {
                content: '\E91a';
                color: $gray-color-10 !important;
            }
        }
        .slick-next {
            z-index: 999;
            height: 100%;
            right: 0;
            width: 3.14rem;
            @include boxshadow(-8px 0 6px 0 rgba(0, 0, 0, 0.05));

            @media screen and (max-width: $mobile-lg) {
                display: none !important;
            }

            &:before {
                content: '\e919';
                color: $gray-color-10 !important;
            }
        }
        .slick-slide img {
            width: 100%;
        }
        .slick-dots {
            display: none !important;
        }
        .slick-slide {
            text-align: center;
            padding: 0 2rem;

            @media screen and (max-width: $mobile-lg) {
                padding: 1rem;
                width: 20% !important;
                float: none !important;
                display: inline-block;
            }

            div {
                a {
                    // @include flexbox;
                    display: flex !important;
                    @include flexalignitems(center);
                    @include flexjustifycontent(center);
                    @include flexdirection(column);

                    img {
                        width: 3rem;
                        height: 3rem;
                    }
                    .cat-icon {
                        color: $gray-color-11 !important;

                        @media screen and (max-width: $mobile-lg) {
                            background: $white-color;
                            height: 3.5rem;
                            width: 3.5rem;
                            border-radius: 50%;
                            margin: 0 auto;
                            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.06);
                            @include flexbox;
                            @include flexalignitems(center);
                            @include flexjustifycontent(center);                            
                        }
                    }
                }
            }
        }
        .cat-name {
            min-width: 9rem;
            margin: 1rem 0 0 0;
            line-height: 1;
            color: $black-color-3;

            @media screen and (max-width: $tablet-min) {
                min-width: 100%;
            }
        }
        .slick-list {
            width: 90%;
            margin: 0 auto;

            @media screen and (max-width: $mobile-lg) {
                width: calc(100% - 1rem);
                padding: 0 !important;
            }
        }
    }
}

.featured-sellers {

    @media screen and (max-width: $mobile-lg){
       display: none; 
    }

    .featured-wrapper {
        background: $white-color;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
        border-radius: 0.35rem;
        padding: 1rem;
        margin: 0 1%;
        width: 98% !important;

        .featured-seller-product {
            padding: 0 0.2rem !important;
            margin: 1rem 0 0 0;
            position: relative;

            img {
                width: 100%;
                border: 0.5px solid $gray-color-6;
                border-radius: 0.3rem;
                height: 10rem;
                object-fit: contain;
                padding: 3px;
            }
            .featured-seller-product-price {
                border-radius: 0.3rem;
                position: absolute;
                color: $white-color;
                bottom: -0.5rem;
                width: 80%;
                margin: 0 12% 0 8%;
                background: $red-color-3;
                text-align: center;
            }
        } 
        .featured-header {
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);
            width: 100%;
            
            .featured-header-shop {
                @include flexbox;
                @include flexalignitems(center);
                align-items: center;
                width: 100% !important;
            }
        }
        .margin-reset {
            margin: 0 7px !important;

            @media screen and (max-width: $mobile-lg) {
                margin: 0 !important;
            }

            .store-category {
                font-family: "Harmonia Sans Pro Regular";
                font-size: 0.9rem;
                @media screen {
                    font-size: 0.8rem;
                }
            }
            .store-name {
                text-transform: uppercase;
            }
        }
        .seller-link {
            display: none;
        
            a {
                color: $green-color-2 !important;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);

                span {
                    margin: 0 0 0 1rem;
                }
            }
        }
    }

}
.top-stores {
    background: $gray-color-2;
    padding: 0 0 2rem 0;

    @media screen and (max-width: $mobile-lg) {
        border-bottom: .5px solid #e4e4e4;
    }

    .top-stores-wrapper {
        .top-stores-title {
            text-align: center;
            padding: 0 0 2rem 0;
            color: $black-color-4;

            @media screen and (max-width: $mobile-lg) {
                padding: 3rem 0 2rem 0;
            }
        }
        .top-stores-content {
            .stores-wrapper {
                width: 90%;
                margin: 0 auto;
                border-bottom: 0.5px solid $gray-color-6;

                @media screen and (max-width: $mobile-lg) {
                    border-bottom: none;
                }
                .category-wrapper {
                    @include flexbox;
                    @include flexjustifycontent(center);
                }
                .category {
                    text-align: center;
                    margin: 0 0 3rem 0;
                    width: 12.5%;
                    
                    @media screen and (max-width: $mobile-lg) {
                        width: 25%;
                        margin: 0;
                        // margin-bottom: 20px;
                        padding: 4px 4px 10px;
                    }
                    img {
                        width: 80%;
                    }
                    h4 {
                        margin: 1.5rem 2.5rem 0 2.5rem !important;
                        @media screen and (max-width: $mobile-lg) {
                            margin: .5rem !important;
                        }
                    }
                }
                .view-more-btn {
                    text-align: center;

                    button {
                        box-shadow: -6px 12px 26px 0 rgba(0, 0, 0, 0.1);
                        border: none;
                        background: $white-color;
                        padding: 0.3rem 3rem;
                        border-radius: 0.3rem;
                        color: $green-color-2;
                        outline: none;
                        @include transition(0.5s);

                        &:hover {
                            background: $green-color-2;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}
.special-offers {
    background: $gray-color-2;
    padding: 1rem 0 2rem 0;
    .special-offers-wrapper {
        .special-offers-title {
            text-align: center;
            padding: 0 0 2rem 0;
            color: $black-color-4;
        }
        .special-offers-content {
            .special-wrapper {
                width: 90%;
                margin: 0 auto;

                @media screen and (max-width: $mobile-lg){
                    width: 100%;
                }
        
                .slick-slider {
                    .slick-arrow {
                        width: 3.14rem;
                        background: $white-color;
                        height: 10rem;
                        width: 2.2rem;
                        z-index: 9;
                    }
                    .slick-next {
                        border-radius: 0 1rem 1rem 0;
                        @include boxshadow(-8px 0 6px 0 rgba(0, 0, 0, 0.05));
                        &:before {
                            content: '\e919';
                            color: $black-color-2;
                        }

                        @media screen and (max-width: $mobile-lg) {
                            display: none !important;
                        }
                    }
                    .slick-prev {
                        border-radius: 1rem 0 0 1rem;
                        @include boxshadow(8px 0 6px 0 rgba(0, 0, 0, 0.05));
                        &:before {
                            content: '\e91a';
                            color: $black-color-2;
                        }

                        @media screen and (max-width: $mobile-lg) {
                            display: none !important;
                        }

                    }
                }
            }
        }
    }
}
.special-single-product {
    width: 20%;

    @media screen and (min-width: $desktopHd-min) {
        width: 16.66%;
    }

    @media screen and (min-width: $mobile-lg) and (max-width: $tablet-md) {
        width: 25%;
    }

    @media screen and (max-width: $mobile-lg) {
        width: 33.33%;
    }
}
.special-single-product-wrapper {
    .product-description {
        &:before {
            content: "" !important;
        }
    }
    img.product-img {
        border-bottom: 1px solid $gray-color-2;    
    }
    .price-cart {
        border-top: none !important;
        padding: 1.5rem 1rem !important;

        @media screen and (max-width: $mobile-lg){
            padding: 10px 5px 10px 5px !important;
        }
        .price {

            @media (min-width: $tablet-min) and (max-width: $tablet-md) {
                font-size: 1rem;
            }
        }

        .initial-price {
            position: relative !important;
            bottom: 0 !important;
            margin: 0 !important;
            padding:0 !important;

            @media (min-width: $tablet-min) and (max-width: $tablet-md) {
                font-size: 0.9rem;
            }
        }
    }
}
.made-in-rwanda {
    background: $gray-color-2;
    padding: 1rem 0 3rem 0;

    @media screen and (max-width: $mobile-lg) {
        padding: 2rem 0 3rem 0;
    }
    .made-in-rwanda-wrapper {

        .made-in-rwanda-title {
            text-align: center;
            padding: 0 0 2rem 0;
            color: $black-color-4;
        }
        .stores-logos {
            padding: 2rem 0;
            background: $white-color;
            margin: 1rem 0 0 0;

            @media screen and (max-width: $mobile-lg){
                display: none;
            }  

            .slick-list {
                width: 90%;
                margin: 0 5%;
                padding: 2rem 0;
                border: 1px solid $gray-color-13;
                border-radius: .5rem;
            }
            .slick-slide img {
                height: 2.3rem;
                object-fit: contain;
                width: 100%;
            }
            .slick-next {
                right: 1rem;
                &:before {
                    content: '\e919';
                    color: $black-color-2;
                }
            }
            .slick-prev {
                left: 1rem;
                &:before {
                    content: '\e91a';
                    color: $black-color-2;
                }
            }
        }
        .made-in-rwanda_products {
            background-color: $white-color;
            padding-top: 2rem;
            padding-bottom: 2rem;

            .slick-arrow {
                background: $gray-color-13 !important;
            }
        }

        .made-in-rwanda-content {
            .special-offers-row {
                border-radius: 1rem;
                background-color: $green-color-3;
                width: 90%;
                margin:auto;
                padding: 1rem 2rem 1rem 1rem;
                
                @media screen and (max-width: $mobile-lg) {
                    padding: 0 0 0 0.5rem;
                }

                &.prices-offers {
                    background-color: $green-color-3;
                }
                &.on-sale-offers {
                    background-color: $orange-color-3;
                    margin: 2rem auto;
                }

                .single-product {
                    min-height: 11rem !important;
                }

                .slick-dots {
                    display: none !important;
                }

                .slick-arrow {
                    background: $white-color;
                    height: 10rem;
                    width: 2.2rem;
                    z-index: 9;
                    margin-right: -1rem;

                    @media screen and (max-width: $mobile-lg) {
                        display: none !important;
                    }
                
                    &.slick-next {
                        border-radius: 0 1rem 1rem 0;
                        box-shadow: -8px 0 6px 0 $box-shadow-color-2;
                    
                        &:before {
                            content: '\E919';
                            color: $black-color-2;
                        }
                    }
                    &.slick-prev {
                        border-radius: 1rem 0 0 1rem;
                        box-shadow: 8px 0 6px 0 $box-shadow-color-2;

                        &:before {
                            content: '\E91A';
                            color: #1d3043;
                        }
                    }
                    &.slick-disabled {
                        display: none !important;
                    }
                }
                .offers-banner {
                    img {
                        width: inherit;
                    }
                }
            }
            
            .made-in-rwanda-wrapper {
                display: inline-flex;
                width: 100%;
                .rwanda-wrapper {
                    width: 90%;
                    margin: 0 auto;
                    //justify-content: center;

                    @media screen and (max-width: $mobile-lg){
                        width: 94%;
                    }
                }
            }
        }
    }
}
.promotion-wrapper {
    .slick-slide img {
        width: 98% !important;
        margin: 0 1%;
    }
}
h4 {
    color: $black-color-3 !important;
    margin: 0.5rem 0 0 0 !important;
}

