@import "../main";

.main-banners {
    background: $gray-color-2;
    .slick-slider {
        width: 100%;
    
        .slick-prev {
            left: 1.5rem;
            z-index: 999;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            opacity: 1;
            background-color: rgba(240, 244, 245, 0.15);
            &:before {
                content: '\E91a';
                color: $white-color !important;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);
                width: 5rem;
                height: 5rem;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 50%;
            }
        }
        .slick-next {
            right: 1.5rem;
            z-index: 999;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            opacity: 1;
            background-color: rgba(240, 244, 245, 0.15);
            &:before {
                content: '\e919';
                color: $white-color !important;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);
                width: 5rem;
                height: 5rem;
                border: 1px solid rgba(255, 255, 255, 0.4);
                border-radius: 50%;
            }
        }
        .slick-slide img {
            width: 100%;
        }
        .slick-dots {
            display: none !important;
        }
    }
}

.categories-scroller {
    background: $gray-color-2;
    .slick-slider {
        width: 90%;
        margin: 0 auto !important;
        padding: 1.5rem 0;
        background: $white-color;
        top: -4rem;
        border-radius: 20px;
        @include boxshadow(0 3px 36px 0 rgba(0, 0, 0, 0.16));

        @media screen and (max-width: $tablet-min) {
            width: 100%;
            padding: 0.5rem 0;
            top: 1rem;
            background: transparent;
            box-shadow: none;
        }
    
        .slick-prev {
            z-index: 999;
            height: 100%;
            left: 0;
            width: 3.14rem;
            @include boxshadow(8px 0 6px 0 rgba(0, 0, 0, 0.05));

            @media screen and (max-width: $tablet-min) {
                display: none !important;
            }

            &:before {
                content: '\E91a';
                color: $black-color-1 !important;
            }
        }
        .slick-next {
            z-index: 999;
            height: 100%;
            right: 0;
            width: 3.14rem;
            @include boxshadow(-8px 0 6px 0 rgba(0, 0, 0, 0.05));

            @media screen and (max-width: $mobile-lg) {
                display: none !important;
            }

            &:before {
                content: '\e919';
                color: $black-color-1 !important;
            }
        }
        .slick-slide img {
            width: 100%;
        }
        .slick-dots {
            display: none !important;
        }
        .slick-slide {
            text-align: center;
            padding: 0 2rem;
        }
        .cat-name {
            min-width: 9rem;
            margin: 1rem 0 0 0;
            line-height: 1;

            @media screen and (max-width: $tablet-min) {
                width: 4rem;
            }
        }
        .slick-list {
            width: 90%;
            margin: 0 auto;

            @media screen and (max-width: $tablet-min) {
                width: calc(100% - 5rem);
            }
        }
    }
} 
.featured-wrapper {
    background: $white-color;
    box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.05);
    border-radius: 0.35rem;
    padding: 1rem;
    margin: 0 1%;
    width: 98% !important;

    .featured-seller-product {
        padding: 0 0.2rem !important;
        margin: 1rem 0 0 0;

        img {
            width: 100%;
            border: 1px solid $gray-color-6;
            border-radius: 0.3rem;
            height: 15rem;
            object-fit: contain;
        }
    } 
    .featured-header {
        @include flexbox;
        @include flexalignitems(center);
    }
    .margin-reset {
        margin: 1rem !important;
        .store-category {
            font-family: "Harmonia Sans Pro Regular";
            font-size: 0.9rem;
        }
        .store-name {
            text-transform: uppercase;
        }
    }
    .seller-link a {
        color: $green-color-2 !important;
        @include flexbox;
        @include flexalignitems(center);
        @include flexjustifycontent(center);

        span {
            margin: 0 0 0 1rem;
        }
    }
} 
.top-stores {
    background: $gray-color-2;
    padding: 0 0 2rem 0;

    .top-stores-wrapper {
        .top-stores-title {
            text-align: center;
            padding: 0 0 2rem 0;
            color: $black-color-4;
        }
        .top-stores-content {
            .stores-wrapper {
                width: 90%;
                margin: 0 auto;
                border-bottom: 1px solid $gray-color-6;

                .category {
                    text-align: center;
                    margin: 0 0 3rem 0;

                    @media screen and (max-width: $mobile-lg) {
                        margin: 0;
                        padding: 4px 4px 10px;
                    }

                    img {
                        width: 80%;
                    }
                    
                }
                .view-more-btn {
                    text-align: center;

                    button {
                        box-shadow: -6px 12px 26px 0 rgba(0, 0, 0, 0.1);
                        border: none;
                        background: $white-color;
                        padding: 0.3rem 3rem;
                        border-radius: 0.3rem;
                        color: $green-color-2;
                        outline: none;
                        @include transition(0.5s);

                        &:hover {
                            background: $green-color-2;
                            color: $white-color;
                        }
                    }
                }
            }
        }
    }
}
.special-offers {
    background: $gray-color-2;
    padding: 1rem 0 3rem 0;
    .special-offers-wrapper {
        .special-offers-title {
            text-align: center;
            padding: 0 0 2rem 0;
            color: $black-color-4;
        }
        .special-offers-content {
            .special-wrapper {
                width: 90%;
                margin: 0 auto;
                .slick-slider {
                    .slick-arrow {
                        width: 3.14rem;
                        background: $white-color;
                        height: 10rem;
                        width: 2.2rem;
                        z-index: 9;
                    }
                    .slick-next {
                        border-radius: 0 1rem 1rem 0;
                        @include boxshadow(-8px 0 6px 0 rgba(0, 0, 0, 0.05));
                        &:before {
                            content: '\e919';
                            color: $black-color-2;
                        }

                        @media screen and (max-width: $mobile-lg) {
                            display: none;
                        }
                    }
                    .slick-prev {
                        border-radius: 1rem 0 0 1rem;
                        @include boxshadow(8px 0 6px 0 rgba(0, 0, 0, 0.05));
                        &:before {
                            content: '\e91a';
                            color: $black-color-2;
                        }

                        @media screen and (max-width: $mobile-lg) {
                            display: none;
                        }

                    }
                }
            }
        }
    }
}
.special-single-product {
    width: 20%;

    @media screen and (max-width: $mobile-lg){
        width: 33.33%;
    }
}
.special-single-product-wrapper {
    .product-description {
        &:before {
            content: "" !important;
        }
    }
    .price-cart {
        border-top: none !important;
        padding: 1.5rem 1rem !important;

        @media screen and (max-width: $mobile-lg){
            padding: 10px 0px 10px 5px !important;
        }

        .initial-price {
            position: relative !important;
            bottom: 0 !important;
        }
    }
}
.made-in-rwanda {
    background: $gray-color-2;
    padding: 1rem 0 3rem 0;
    .made-in-rwanda-wrapper {
        .made-in-rwanda-title {
            text-align: center;
            padding: 0 0 2rem 0;
            color: $black-color-4;
        }
        .stores-logos {
            padding: 1rem 0;
            background: $white-color;
            margin: 1rem 0 2rem 0;

            .slick-list {
                width: 90%;
                margin: 0 5%;
            }
            .slick-slide img {
                height: 6rem;
                object-fit: contain;
                width: 100%;
            }
            .slick-next {
                right: 1rem;
                &:before {
                    content: '\e919';
                    color: $black-color-2;
                }
            }
            .slick-prev {
                left: 1rem;
                &:before {
                    content: '\e91a';
                    color: $black-color-2;
                }
            }
        }
        .made-in-rwanda-content {
            .rwanda-wrapper {
                width: 90%;
                margin: 0 auto;
            }
        }
    }
}
.promotion-wrapper {
    .slick-slide img {
        width: 98% !important;
        margin: 0 1%;
    }
}
h4 {
    color: $black-color-3 !important;
    margin: 0.5rem 0 0 0 !important;
}
