@import "../main";

.landing-main-wrapper {
	@include flexbox;
	@include flexalignitems(center);
	height: 100vh;
	
	background-image:
    url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122596/multi-vendor/Group_409.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_400.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122596/multi-vendor/Group_409.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_400.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_400.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122596/multi-vendor/Group_409.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_400.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_400.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_403.png),
    url(https://res.cloudinary.com/hehe/image/upload/v1556122596/multi-vendor/Group_409.png),
	url(https://res.cloudinary.com/hehe/image/upload/v1556122597/multi-vendor/Group_400.png);
	
	background-position: 
	top 5% left 5%,
	top 5% left 23%,
	top 5% left 41%,
	top 5% left 59%,
	top 5% left 77%,
	top 5% right 5%,
	top 50% left 5%,
	top 50% left 23%,
	top 50% left 41%,
	top 50% left 59%,
	top 50% left 77%,
	top 50% right 5%,
    top 95% left 5%,
	top 95% left 23%,
	top 95% left 41%,
	top 95% left 59%,
	top 95% left 77%,
	top 95% right 5%;
	
	background-size: 10%;
	background-repeat: no-repeat;
	background-color: rgba(0, 0, 0, 0.15);
	
	.landing-wrapper {
		@include backdropfilter(blur(30px));
		@include boxshadow(0 3px 36px 0 rgba(0, 0, 0, 0.1));
		background-color: $white-color;
		border-radius: 0.5rem;

		.top-part {
			border-bottom: 1px solid $gray-color-1;
			padding: 1rem;
			margin: 0 1rem;
			text-align: center;

			img {
				height: 5rem;
				margin: 1rem 0;
			}

			.landing-title {
				line-height: 1.32;
				text-align: center;
				color: $black-color-2;
				margin: 1rem 0;
			}
			.landing-content.top {
				width: 65%;
				margin: 0 auto;
				line-height: 1.29;
				text-align: center;
				color: $black-color-3;
			}
		}
		.middle-part {
			.selector {
				width: 60%;
				margin: 0.5rem auto;

				label {
					line-height: 1.19;
					text-align: left;
					color: $gray-color-1;
					margin: 0;
				}
				.select2-container {
					width: 100% !important;
					&.select2-container--focus {
						outline: none;
					}
				}
				.select2-container--default .select2-selection--single {
					height: 3rem;
					border-radius: 0.3rem;
					background-color: $gray-color-2;
		
					.select2-selection__rendered {
						line-height: unset !important;
						height: 100%;
						@include flexbox;
						@include flexalignitems(center);
						outline: none;
					}  
					.select2-selection__arrow {
						height: 3rem;
						color: $black-color-4;
						height: 3rem;
						@include flexbox;
						@include flexalignitems(center);
		
						b {
							display: none;
						}
					}
					.select2-selection__placeholder {
						color: $black-color-4;
					}
				}
			}
			.continue-button {
				width: 60%;
				margin: 0.5rem auto;
				button {
					width: 100%;
					height: 3rem;
					border-radius: 0.3rem;
					background-color: $orange-color;
					border: 1px solid $orange-color;
					color: $white-color;
					outline: none;
					transition: 0.4s;

					&:hover {
						background-color: $white-color;
						color: $orange-color;
						border: 1px solid $orange-color;
					}
				}
			}
			.landing-content.bottom {
				width: 60%;
				margin: 1rem auto;
				line-height: 1.29;
				text-align: center;
				color: $black-color-2;

				.login-link a {
					color: $green-color-2;
				}
			}
		}
		.bottom-part {
			background-color: $green-color-1;
			padding: 0.5rem 0;
			text-align: center;
			border-radius: 0 0 0.5rem 0.5rem;
			line-height: 1.19;
			color: $green-color-2;
			@include flexbox;
			@include flexjustifycontent(center);
			@include flexalignitems(center);

			.landing-footer-icon:before {
				font-size: 2rem;
				margin: 1rem;
			}
		}
	}
}
