@import "../main";

.background-images {
	position: absolute;
	animation: moveSlideshow 12s linear infinite alternate;
	height: 100vh;
	transform: translate3d(0, 0, 0);
	z-index: -1;

	div {
		img {
			width: 80%;
			margin: 3rem auto !important;
			display: block;
		}
	}
}
@keyframes moveSlideshow {
	100% { 
	  transform: translateY(-66%);  
	}
}


.landing-main-wrapper {
	position: relative;
	@include flexbox;
	@include flexalignitems(center);
	transform: translate3d(0, 0, 0);
	max-height: 100vh;
	height: 100vh;
	overflow: hidden;
	background: #f4f6f6;
	
	.content-wrapper{
		background: rgba(0, 0, 0, 0.15);
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
	}
	.landing-wrapper {
		@include backdropfilter(blur(30px));
		@include boxshadow(0 3px 36px 0 rgba(0, 0, 0, 0.1));
		background-color: $white-color;
		border-radius: 0.5rem;

		.top-part {
			border-bottom: 1px solid $gray-color-1;
			padding: 1rem;
			margin: 0 1rem;
			text-align: center;

			img {
				height: 5rem;
				margin: 1rem 0;
			}

			.landing-title {
				line-height: 1.32;
				text-align: center;
				color: $black-color-2;
				margin: 1rem 0;
			}
			.landing-content.top {
				width: 65%;
				margin: 0 auto;
				line-height: 1.29;
				text-align: center;
				color: $black-color-3;
			}
		}
		.middle-part {
			.selector {
				width: 60%;
				margin: 0.5rem auto;

				label {
					line-height: 1.19;
					text-align: left;
					color: $gray-color-1;
					margin: 0;
				}
				.select2-container {
					width: 100% !important;
					&.select2-container--focus {
						outline: none;
					}
				}
				.select2-container--default .select2-selection--single {
					height: 3rem;
					border-radius: 0.3rem;
					background-color: $gray-color-2;
		
					.select2-selection__rendered {
						line-height: unset !important;
						height: 100%;
						@include flexbox;
						@include flexalignitems(center);
						outline: none;
					}  
					.select2-selection__arrow {
						height: 3rem;
						color: $black-color-4;
						height: 3rem;
						@include flexbox;
						@include flexalignitems(center);
		
						b {
							display: none;
						}
					}
					.select2-selection__placeholder {
						color: $black-color-4;
					}
				}
			}
			.continue-button {
				width: 60%;
				margin: 0.5rem auto;
				button {
					width: 100%;
					height: 3rem;
					border-radius: 0.3rem;
					background-color: $orange-color-1;
					border: 1px solid $orange-color-1;
					color: $white-color;
					outline: none;
					@include transition(0.4s);

					&:hover {
						background-color: $white-color;
						color: $orange-color-1;
						border: 1px solid $orange-color-1;
					}
				}
			}
			.landing-content.bottom {
				width: 60%;
				margin: 1rem auto;
				line-height: 1.29;
				text-align: center;
				color: $black-color-2;

				.login-link a {
					color: $green-color-2;
				}
			}
		}
		.bottom-part {
			background-color: $green-color-3;
			padding: 0.5rem 0;
			text-align: center;
			border-radius: 0 0 0.5rem 0.5rem;
			line-height: 1.19;
			color: $green-color-2;
			@include flexbox;
			@include flexjustifycontent(center);
			@include flexalignitems(center);

			.landing-footer-icon:before {
				font-size: 2rem;
				margin: 1rem;
			}
		}
	}
}
