@import "../main";

.single-product {
    border-radius: 0.35rem;
    box-shadow: -2px -1px 9px 0px rgba(0, 0, 0, 0.05);;
    background-color: $white-color;
    width: 96%;
    margin: 1rem 2%;
    position: relative;

    img.product-img {
        width: 100%;      
    }
    .top-icons {
        position: absolute;
        top: 1rem;
        left: 1rem;

        @media (max-width: $mobile-lg) {
            top: 4px;
            left: 4px;
        }

        .hot {
            background: $orange-color-3;
            color: $orange-color-2;
            margin: 0 1rem 0 0;
            border-radius: 2rem;
            padding: 0.2rem 1rem;

            @media (max-width: $mobile-lg) {
                margin: 0 4px 0 0;
            }

            span {
                margin: 0 0.5rem 0 0;
            }
        }
        .discount {
            background: $red-color-2;
            color: $red-color-1;
            margin: 0 1rem 0 0;
            border-radius: 2rem;
            padding: 0.2rem 1rem;
        }
    }
    .product-description {
        background: $white-color;
        position: relative;

        &:before {
            content: "\e920";
            color: $white-color;
            top: -6.6rem;
            left: -2rem;
            position: absolute;
        }
        .store-logo {
            height: 3rem;
            .store-img {
                position: absolute;
                top: -1.3rem;
                left: 2.24rem;
                height: 3rem;
                width: 3rem;
                background: $green-color-1;
                border-radius: 50%;
            }
            .store-name {
                color: $gray-color-6;
                left: 5.6rem;
                top: 0.3rem;
                position: absolute;
                line-height: 1.35;
            }
        }
        .product-name {
            line-height: 1.33;
            letter-spacing: 0.06rem;
            text-align: left;
            color: $black-color-2;
            margin: 0.5rem 1rem;
        }
        .price-cart {
            border-top: 2px solid $gray-color-2;
            padding: 0.5rem 1rem;
            @include flexbox;
            @include flexalignitems(center);
            @include flexjustifycontent(space-between);
            
            .price {
                line-height: 0.8;
                text-align: left;
                color: $black-color-2;
            }
            .initial-price {
                line-height: 1;
                text-align: left;
                color: $gray-color-6;
                // border-bottom: 1px solid $gray-color-6;
                line-height: 0.1rem !important;
                position: absolute;
                bottom: 1.7rem;
                padding: 0 0.5rem;
                margin: 0 0.5rem;
                text-decoration: line-through;
            }
            .add-to-cart {
                float: right;
                button {
                    border: none;
                    border-radius: 50%;
                    background: $green-color-1;
                    padding: 0.5rem;
                    @include flexbox;
                    @include flexalignitems(center);
                    @include flexjustifycontent(center);
                    @include transition(0.5s);

                    .icon-Path-63:before {
                        color: $green-color-2;
                        @include transition(0.5s);
                    }
                }
                &:hover {
                    button {
                        border-radius: 2rem;
                        .icon-Path-63:before {
                            content: 'Add to cart'
                        }
                    }
                }
            }
        }
    }
}

.styles_modal__gNwvD {
    max-width: 1920px !important;
    width: 90%;
    background: $gray-color-2 !important;

    .popup-wrapper {
        background: $white-color;
        margin: 2rem;
        padding: 2rem;
        .product-details-wrapper {
            .images-wrapper {
                padding: 0 2rem 0 0 !important;
                border-right: 1px solid $gray-color-2;
                .big-prod-img {
                    width: 100%;
                    object-fit: contain;
                }
                .small-prod-img {
                    width: 100%;
                    object-fit: contain;
                    margin: 1rem 0 0 0;
                }
            }
            .description-wrapper {
                .details {
                    border-bottom: 1px solid $gray-color-2;
                    padding: 0 0 1rem 0;
                }
                .product-name {
                    color: $black-color-2;
                    line-height: 0.6;
                    letter-spacing: 0.14rem;
                    margin: 0 0 2rem 0;
                }
                .top-icons {
                    margin: 0 0 2rem 0;
                    .hot {
                        background: $orange-color-3;
                        color: $orange-color-2;
                        margin: 0 1rem 0 0;
                        border-radius: 2rem;
                        padding: 0.2rem 1rem;
                        span {
                            margin: 0 0.5rem 0 0;
                        }
                    }
                    .discount {
                        background: $red-color-2;
                        color: $red-color-1;
                        margin: 0 1rem 0 0;
                        border-radius: 2rem;
                        padding: 0.2rem 1rem;
                    }
                }
                .product-detail {
                    margin: 0 0 2rem 0;
                    .details-title {
                        color: $gray-color-6;
                        margin: 0 1.5rem 0 0;
                    }
                    .initial-price {
                        color: $gray-color-6;
                        margin: 0 1.5rem 0 0;
                        border-bottom: 1px solid $gray-color-6;
                        line-height: 0.1;
                        display: inline-grid;
                        padding: 0 0.5rem;
                    }
                    .price {
                        color: $black-color-3;
                    }
                    .select-dropdown {
                        .select2-selection.select2-selection--single {
                            min-width: 7rem;
                            border: none;
                            @include flexbox;
                            @include flexalignitems(center);
                            @include flexjustifycontent(space-between);

                            .select2-selection__rendered {
                                margin-top: -0.3rem;
                                padding: 0;
                                .select2-selection__placeholder {
                                    color: $black-color-2;
                                }
                            }
                            .select2-selection__arrow {
                                position: relative !important;
                                margin-top: -0.3rem;
                                b {
                                    color: $black-color-2;
                                }
                            }
                        }
                    }
                    .qty-increment {
                        bottom: 0;
                        display: inline-flex;
                        margin: 0 4rem 0 0;
    
                        .decrement, .increment {
                            border-radius: 5rem;
                            color: $green-color-2;
                            background: $green-color-3;
                            @include flexbox;
                            @include flexalignitems(center);
                            @include flexjustifycontent(center);
                            height: 2rem;
                            width: 2rem;
                            margin: 0 0.5rem 0 0;
                        }
                        .number {
                            @include flexbox;
                            @include flexalignitems(center);
                            @include flexjustifycontent(center);
                            height: 2rem;
                            width: 2rem;
                            margin: 0 0.5rem 0 0;
                        }
                    }
                    .orange-btn {
                        margin: 0 1rem 0 0;
                        button {
                            background: $orange-color-1;
                            color: $white-color;
                            @include transition(0.5s);
                            border: 1px solid $orange-color-1;
                            padding: 0.1rem 1rem;
                            border-radius: 0.35rem;

                            &:hover {
                                background: $white-color;
                                color: $orange-color-1; 
                            }
                        }
                    }
                    .white-btn {
                        margin: 0 1rem 0 0;
                        button {
                            background: $white-color;
                            color: $orange-color-1;
                            @include transition(0.5s);
                            border: 1px solid $orange-color-1;
                            padding: 0.1rem 1rem;
                            border-radius: 0.35rem;

                            &:hover {
                                background: $orange-color-1;
                                color: $white-color;
                            }
                        }
                    }
                    .product-store {
                        display: inline-flex;
                        .store-img {
                            display: inline-block;
                            height: 4rem;
                            background: $gray-color-2;
                            border-right: 1px solid $white-color;
                            img {
                                height: 3rem;
                            }
                        }
                        .store-content {
                            display: inline-block;
                            .content {
                                color: $black-color-3;
                                height: 2rem;
                                @include flexbox;
                                @include flexalignitems(center);
                                background: $gray-color-2;
                                .black {
                                    color: $black-color-3;
                                }
                                .orange {
                                    color: $orange-color-1;
                                }
                                &.bottom {
                                    border-top: 1px solid $white-color;
                                }
                            }
                        }
                    }
                }
                .description-details {
                    width: 80%;
                    .desc-title {
                        color: $black-color-4;
                        margin: 0 0 1rem 0;
                    }
                    .desc-content {
                        color: $black-color-5;
                    }
                }
            }
        }
    }
    .products-title {
        color: $black-color-4;
        margin: 2rem 2.5rem 0 2.5rem !important;
    }
    .popup-products {
        margin: 0 2rem !important;
    }
}