.profile-page {
    background-color: $light-gray;
    min-height: 50vh;
    display: block !important;
    .sidemenu {
        padding: 1rem 2rem 0;
        .user-profile-wrapper {
            background: $white-color;
            padding: 1rem;
            border-radius: 4px;
            @include flexbox;
            @include flexjustifycontent(space-between);
            
            .user-info-section {
                h5 {
                    color: $black-color-3;
                }
                span {
                    color: $gray-color-6;
                }
            }
            .profile-img-wrapper {
                height: 4rem;
                width: 4rem;
                background-color:$gray-color-6;
                color: $white-color;
                border-radius: 50%;
                @include flexbox;
                @include flexjustifycontent(center);
                @include flexalignitems(center);
            }
            .logout-btn-wrapper {
                a {
                    color: $orange-color-1 !important;
                }
            }
        }        
    }

    .main-content {
        margin-top: 2rem;
        padding-bottom: 5rem;

        .content-header {
            h5 {
                margin-bottom: 1rem;
                padding: 1rem .5rem;
            }
        }

        .table-wrapper {
            background-color: $white-color;
            padding: 1rem;
            border-radius: 3px;

            table {
                width: 100%;
                thead {
                    border-bottom: 1.5px solid $light-gray;
                    padding-bottom: 1rem;
                    th {
                        color: $black-color-3;

                        &.mobile-invisible {
                            display: table-cell !important;

                            @media screen and (max-width: $mobile-lg) {
                                display: none !important;
                            }
                        }
                    }
                }    
                
                td {
                    color: $black-color-3;
                    padding: 1rem 0.5rem;

                    &.mobile-invisible {
                        display: table-cell !important;

                        @media screen and (max-width: $mobile-lg) {
                            display: none !important;
                        }
                    }

                    &:nth-child(1) {
                        a {
                            color: $green-color-2 !important;
                        }
                        
                    }
                    &:nth-last-child(1) {
                        padding-left: 1.5rem;

                        span {
                            color: $green-color-2;
                        }
                    }

                    .badge-txt {
                        color: $orange-color-1;
                        background-color: $orange-color-3;
                        display: inline;
                        border-radius: 5px;
                        padding: 0 .7rem .1rem;
                    }

                    span {
                        display: block;
                        color: $gray-color-5;
                    }
                }
                tr {
                    border-bottom: 1.5px solid $light-gray;

                    &:hover {
                        background: $gray-color-2;
                        cursor: pointer;
                    }
                }
            }
        }

        .order-detail {
            .card-content {
                background-color: $white-color;
                padding: 1rem;
                margin: 1rem 0;
                border-radius: .2rem;

                p {
                    color: $black-color-3;
                }
                h5 {
                    color: $black-color-3;
                }
            }

            .delivery-content {
                position: relative;
                &:before {
                    content: "\e920";
                    font-family: 'icomoon';
                    font-size: 6rem;
                    color: $gray-color-6;
                    top: -5rem;
                    left: -0.94rem;
                    position: absolute;
                }
                .store-logo {
                    height: 3rem;
                    background: $gray-color-6;
                    .store-img {
                        position: absolute;
                        top: -1rem;
                        left: 1.95rem;
                        height: 2.8rem;
                        width: 2.8rem;
                        object-fit: contain;
                        background: $green-color-3;
                        border-radius: 50%;
                    }
                    .store-name {
                        color: $white-color;
                        left: 5rem;
                        top: 0;
                        position: absolute;
                        line-height: 1.35;

                        .name {
                            margin: 0 2rem 0 0;
                        }
                    }
                }
                .shipping-grid {
                    width: 91%;
                    margin: 0 0 0 9%;
                }
            }

            .table-wrapper {
                table {
                    tr {
                        td {
                            padding: .3rem 0;
                            &:nth-child(1) {
                                width: 60%;
                            }
                            &:nth-child(2) {
                                width: 20%;
                            }
                            &:nth-child(3) {
                                width: 10%;
                            }
                            &:nth-child(4) {
                                width: 20%;
                            }
                            span {
                                color: $gray-color-5 !important;
                            }

                            tr {
                                border: none;
                                td {
                                    width: auto !important;
                                }
                                img {
                                    max-height: 50px;
                                    margin-right: 3rem;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .user-detail {
        padding: 0 1rem;

        .user-header {
            padding: 0 3rem 2rem;
            @include flexbox;
            @include flexalignitems(center);

            .user-dp {
                height: 5rem;
                width: 5rem;
                border: 2px solid #b3bcc6;
                border-radius: 50%;
                overflow: hidden;
                margin-right: 1rem;
                @include flexbox;
                @include flexalignitems(center);
                @include flexjustifycontent(center);

                img {
                    max-height: 4.6rem;
                }
            }            
        }
        .user-summary__detail {
            border-radius: 5px;
            box-shadow: 0 6px 16px 0 $box-shadow-color;
            background-color: $green-color-4;
            padding: 1.3rem;
            margin: 0 1.2rem 3rem;

            table {
                width: 100%;
                text-align: center;

                td {
                    border-right: 1px solid $gray-color-5;                    
                    &:nth-last-child(1) {
                        border-right: none;
                    }
                    span {
                        display: block;
                    }
                }                
            }
        }
        .user-info__body {

            .card-content {
                border-radius: 5px;
                box-shadow: 0 6px 16px 0 $box-shadow-color-2;
                background-color: $white-color;
                margin-bottom: 3rem;

                .card-header {
                    background: white;
                    border-bottom: 1px solid #f4f6f7;
                    margin: 0 1.3rem;
                    padding: 1rem 0;
                    @include flexbox;
                    @include flexjustifycontent(space-between);

                    .button-container {
                        display: flex;
                    }
                    button {
                        background: transparent;
                        border: none;
                        @include flexbox;
                        @include flexalignitems(center);
                        @include flexjustifycontent(space-between);

                        span {
                            color: $green-color-2;
                            margin-right: .5rem;
                        }
                    }
                }

                td {
                    padding: .5rem;
                    color: $black-color-3;
                }
                th {
                    color: $black-color-3;
                    padding-left: 3rem;
                }
            }
        }
    }
}
.total-price {
    margin: 0 !important;
    border-top: none !important;
    .total-grid {
        padding: 1rem 0.5rem 0 0.5rem;
        text-align: right;
        display: block !important;
        .total {
        }
    }
}
.profile-products-title {
    h2 {
        padding: 2rem;
        margin: 1rem 0 0 0;
        background: $white-color;
        color: $black-color-3;
    }
}
