.search-content-wrapper {
    border-left: none !important;

    @media screen and (min-width: 1440px) {
        max-width: 100% !important;
    }
}
.search-results-title {
    margin: 2rem 1rem 1rem 1rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid $gray-color-5;
    width: 100%;

    h4 {
        color: $black-color-3 !important;
        .item {
            background: $green-color-3;
            padding: 0.2rem 0.5rem;
            border-radius: 0.3rem;
            @include inlineFlex;
            @include flexalignitems(center);
            @include flexjustifycontent(center);
            border: 1px solid $gray-color-6;
        }
        .close-icon {
            margin: 0 0 0 1rem;
        }
    }
}
.search-results-breadcrumb {
    margin: 1rem 2.5rem;
    .breadcrumbs {
        color: $black-color-3;
        letter-spacing: 0.8px;
    }
}